<div id="tabs">
  <%= render "summer_tab" %>
</div>

<div id="tab_content_container">
  <div id="tab_content_title">
    <h1> Fan Rentals </h1>
  </div>

  <div id="tab_content">
    <div id="tab_content_text">
      <p>There’s no doubt about it: New England summers are hot! Unfortunately, for safety, Brown prohibits A/C's inside dorm rooms. That’s why BSA rents out fans to students who are staying at Brown for the summer.</p>
				<p>Lasko 20" Box Fans are available for rental for your entire stay on a first come first serve basis. Reservations are not available.</p>
				<p>Cost: $15 rental fee for the entire stay + $10 deposit</p>
				<p>Where: On registration day, they will be available near the registration area. Otherwise, fans are also available at the BSA Summer Office.</p>
				<p>Students must return their fans in person prior to the end of their stay to the BSA Summer Office during our office hours to retrieve the deposit. Failure to do so results in forfeiting the deposit. Students may not ask an RA to return their fans for them.</p>

    </div>
    <div id="tab_content_image">
      <img src="/_media/images/fan.jpg" alt="Fan Rental" width="200px" height="207px">
    </div>
  </div>
  <div id="tab_navigation">
  </div>
</div>
