<div class="main">
	<h3 align="right" style="position:absolute;top:225px;left:625px"><a class="btn" href="/students">For Academic Year Students</a></h3>
	<p></p>
	<h2 style="margin-bottom:10px">Summer Student Services</h2>
	<p>We want our summer students to get the most out of their summer. That's why BSA is here to provide summer students with a variety of services and amenities so that they can focus on having a great experience.</p>
	<div class="tabs">
		<ul class="tab-nav">
			<li id="ln-tab-location"><a href="#tab-location">Hours & Location<span><!-- --></span><em><!-- --></em></a></li>
			<li id="ln-tab-fans"><a href="#tab-fans">Fan Rentals<span><!-- --></span><em><!-- --></em></a></li>
			<li id="ln-tab-laundry"><a href="#tab-laundry">Laundry & Linens<span><!-- --></span><em><!-- --></em></a></li>
			<li id="ln-tab-microfridge"><a href="#tab-microfridge">Microfridge<span><!-- --></span><em><!-- --></em></a>
			<ul>
				<li id="ln-tab-microfridge-order"><a href="#tab-microfridge-order">How to Order</a></li>
			</ul>
			</li>
			<li id="ln-tab-souvenir"><a href="#tab-souvenir">Souvenir Shop<span><!-- --></span><em><!-- --></em></a>
		</ul>
		<div id="tab-location" class="tab-content">
			<div class="details">
				<h3>Hours & Location</h3>
				<p>The 2012 summer BSA location and office hours will be determined by June 7th, 2012. Please check back at a late date and thanks for your patience.</p>
			</div>
			<div class="image">
			  	<img src="/_media/images/faunce.jpg" alt="Faunce" width="200px" height="129px">
		      		<a href="mailto:bsa@brown.edu">Contact Us</a>
			</div>
		</div>	
		<div id="tab-fans" class="tab-content">
			<div class="details">
				<h3>Fan Rentals</h3>
				<p>There’s no doubt about it: New England summers are hot! Unfortunately, for safety, Brown prohibits A/C's inside dorm rooms. That’s why BSA rents out fans to students who are staying at Brown for the summer.</p>
				<p>Lasko 20" Box Fans are available for rental for your entire stay on a first come first serve basis. Reservations are not available.</p>
				<p>Cost: $15 rental fee for the entire stay + $10 deposit</p>
				<p>Where: On registration day, they will be available near the registration area. Otherwise, fans are also available at the BSA Summer Office.</p>
				<p>Students must return their fans in person prior to the end of their stay to the BSA Summer Office during our office hours to retrieve the deposit. Failure to do so results in forfeiting the deposit. Students may not ask an RA to return their fans for them.</p>
			</div>
			<div class="image">
			  	<img src="/_media/images/fan.jpg" alt="Fan Rental" width="200px" height="207px">
			</div>
		</div>
		<div id="tab-laundry" class="tab-content">
			<div class="details">
				<h3>Laundry & Linens Service</h3>
				<p>From classes to extracurricular activities, Students have enough to worry about. BSA wants to help take laundry and linens off of that list.</p>
				<p>With the help of E&R Laundry, we can make sure linens are available upon your arrive and that your student's dirty clothes are cleanned each week.</p>
				<p>Our laundry service comes with wash/dry/fold laundry service and includes button replacement and minor tear sewing.</p>
				<p>How it Works:
				<ol>
					<li>Fill out the online order form using the school password: SY225</li>
				 	<li>Look for the BSA tent near the registration area and come pick up your linens and personalized laundry bag</li>
					<li>Drop off dirty clothes and linens on Sunday</li>
					<li>Pick up clean clothes and linens on Thursday</li>
				</ol>
				</p>
				<p>Drop offs and pick ups occur in the BSA Laundry Room in Campus Center 035. Students can access this security camera monitored room with their ID.</p>
				<p>Check out our Info Sheet which contains an informational letter from E&R and a mail-in order form!</p>
				<p>For any customer service questions, please contact E&R at 800-243-7789.</p>
			</div>
			<div class="image">
				<img src="/_media/images/laundry2.jpg" alt="Laundry Services" height="300" width="200"/>
				<a href="http://thecampuslaundry.com">Order Now!</a><p></p>
				<a href="/_media/pdf/summer_laundry_infosheet.pdf">Info Sheet</a>
			</div>
		</div>
		<div id="tab-microfridge" class="tab-content">
			<div class="details">
  				<h3>Keep Your Food and Drinks Cold with our MicroFridge!</h3>
				<p>Whether you are enjoying a late night bag of microwave popcorn or a morning glass of orange juice, MircroFridges will allow you to safely and conveniently make it happen. We offer units with a freezer and fridge as well as combo units that also include an attached microwave.</p>
				<ul>
				<li> True, zero-degree freezer for frozen items</li>
				<li> 2-liter bottle storage on the door</li>
				<li> Full-width wire shelves allow for plenty of storage</li>
				<li> Easy to operate controls on microwave</li>
				<li> Energy Star Rated</li>
				</ul>
				<br>
				<p>For any customer service questions, please call Microfridge at 1-800-637-7567.</p>
  			</div>
  			<div class="image">
				<img src="/_media/images/fridge.png" width="200" height="255" alt="" />
				<a href="https://www.collegerefrigerators.com">Reserve Now!</a>
  			</div>
  		</div>
		<div id="tab-microfridge-order" class="tab-content">
			<div class="details">
  				<h3>How to Order Your Microfridge</h3>
				<p>Microfridge & BSA representatives will be available near the registration area on registration day to take orders. Fridges will be delivered by our staff to your student's dorms.</p>
				<p>Online reservations are also available. Please click the "Reserve Now!" button and select "Brown University Summer Program."</p>
				<p>MF-3 Fridge & Microwave combo unit costs $80<br>
				MFR-3 Fridge only unit costs $60</p>
				<p>Costs are for the renting the unit for the entire summer regardless of the length of your stay.</p>
				<p>Microfridge staff will pick up your refrigerator for you on the Friday prior to your departure. Please ensure the fridge has been cleaned out by then.</p>
  			</div>
  			<div class="image">
				<img src="/_media/images/fridge.png" width="200" height="255" alt="" />
				<a href="https://www.collegerefrigerators.com">Reserve Now!</a>
  			</div>
  		</div>
		<div id="tab-souvenir" class="tab-content">
			<div class="details">
  				<h3>Brown Souvenirs</h3>
				<p>Come pick up a Brown souvenir at the BSA Retail Store in the Campus Center Information Desk.</p>
				<p>We sell a variety of products ranging from tshirts to tote bags. All of our products are student-designed and are priced under $20.</p>
				<p>Special offer for summer students: mention the BSA website and get $1 off your purchase!</p>
  			</div>
  			<div class="image">
				<img src="/_media/images/retail_shirts.jpg" alt="BSA Retail Store" />

  			</div>
  		</div>
	</div>
</div>