<div id="tabs">
  <%= render "summer_tab" %>
</div>

<div id="tab_content_container">
  <div id="tab_content_title">
    <h1> Laundy & Linens Services </h1>
  </div>

  <div id="tab_content">
    <div id="tab_content_text">
      <p>From classes to extracurricular activities, Students have enough to worry about. BSA wants to help take laundry and linens off of that list.</p>
				<p>With the help of E&R Laundry, we can make sure linens are available upon your arrive and that your student's dirty clothes are cleanned each week.</p>
				<p>Our laundry service comes with wash/dry/fold laundry service and includes button replacement and minor tear sewing.</p>
				<p>How it Works:
				<ol>
					<li>Fill out the online order form using the school password: SY225</li>
				 	<li>Look for the BSA tent near the registration area and come pick up your linens and personalized laundry bag</li>
					<li>Drop off dirty clothes and linens on Sunday</li>
					<li>Pick up clean clothes and linens on Thursday</li>
				</ol>
				</p>
				<p>Drop offs and pick ups occur in the BSA Laundry Room in Campus Center 035. Students can access this security camera monitored room with their ID.</p>
				<p>Check out our Info Sheet which contains an informational letter from E&R and a mail-in order form!</p>
				<p>For any customer service questions, please contact E&R at 800-243-7789.</p>
    </div>
    <div id="tab_content_image">
      <img src="/_media/images/laundry2.jpg" alt="Laundry Services" height="300" width="200"/>
				<a href="http://thecampuslaundry.com">Order Now!</a><p></p>
      <a href="/_media/pdf/summer_laundry_infosheet.pdf">Info Sheet</a>
    </div>
  </div>
  <div id="tab_navigation">
  </div>
</div>
