<div id="tabs">
  <%= render "summer_tab" %>
</div>

<div id="tab_content_container">
  <div id="tab_content_title">
    <h1> How to Order Your Microfridge </h1>
  </div>
<div id="tab_navigation">
    <ul>
      <li><%= link_to "Order", summer_microfridge_order_path %></li>
    </ul>
  </div>
  <div id="tab_content">
    <div id="tab_content_text">
<hr>
      <p>Microfridge & BSA representatives will be available near the registration area on registration day to take orders. Fridges will be delivered by our staff to your student's dorms.</p>
				<p>Online reservations are also available. Please click the "Reserve Now!" button and select "Brown University Summer Program."</p>
				<p>MF-3 Fridge & Microwave combo unit costs $80<br>
				MFR-3 Fridge only unit costs $60</p>
				<p>Costs are for the renting the unit for the entire summer regardless of the length of your stay.</p>
				<p>Microfridge staff will pick up your refrigerator for you on the Friday prior to your departure. Please ensure the fridge has been cleaned out by then.</p>
    </div>
    <div id="tab_content_image">
      <img src="/_media/images/fridge.png" width="200" height="255" alt="" />
				<a href="https://www.collegerefrigerators.com">Reserve Now!</a>
    </div>
  </div>
  <div id="tab_navigation">
  </div>
</div>
