<div id="tabs">
  <%= render "summer_tab" %>
</div>

<div id="tab_content_container">
  <div id="tab_content_title">
    <h1> Brown Souvenirs </h1>
  </div>

  <div id="tab_content">
    <div id="tab_content_text">
      <p>Come pick up a Brown souvenir at the BSA Retail Store in the Campus Center Information Desk.</p>
				<p>We sell a variety of products ranging from tshirts to tote bags. All of our products are student-designed and are priced under $20.</p>
				<p>Special offer for summer students: mention the BSA website and get $1 off your purchase!</p>
    </div>
    <div id="tab_content_image">
      <img src="/_media/images/retail_shirts.jpg" alt="BSA Retail Store" />
    </div>
  </div>
  <div id="tab_navigation">
  </div>
</div>
