<div id="tabs">
  <%= render "student_services_tab" %>
</div>
<div id="tab_content_container">
  <div id="tab_content_title">
    <h1> Backup Software Saves the Day! </h1>
  </div>

  <div id="tab_content">
    <div id="tab_content_text">
      <div class="content_box">
        <h2> Protect your files </h2>
        <div class="content_box_para">
        <p> Never worry about losing your important files again! With Campus Backup, a copy of your most important files are automatically and securely saved to an offsite location each evening. In the event your computer goes down, simply go to your student backup site and enter your encryption code and you will be back up in running in under ten minutes! </p>
        <p> Don’t be part of the 40% of students who will lose computer data this year. </p>
        </div>
      </div>
      <div class="content_box">
        <h2> Unlimited Storage </h2>
        <div class="content_box_para">
        <p> Backup Software offers UNLIMITED storage space. </p>
        <p> 1-Year Subscription - $59 </p>
        <p> 4-Year Subscription - $149 </p>
        <p> To place your order by phone or for any customer service questions, please call 1-800-287-8554. </p>
        </div>
      </div>
    </div>
    <div id="tab_content_image">
      <%= image_tag "backup.png", :width => 200 %>
      <%= link_to "Order now!", "http://www.campusbackup.org/", :target => "_blank" %>
    </div>
  </div>
  <div id="tab_navigation">
  </div>
</div>
