<div id="tabs">
  <%= render "student_services_tab" %>
</div>

<div id="tab_content_container">
  <div id="tab_content_title">
    <h1> Re-energizing Care Packages </h1>
  </div>

  <div id="tab_content">
    <div id="tab_content_text">
      <div class="content_box">
        <h2> Re-energize your Student </h2>
        <p> BSA knows that it is difficult to send your student away to college. What better way to show you are thinking about them then a care package of re-energizing snacks! We offer packages for birthdays, holidays, exam periods, or even "just because". </p>
      </div>
      <div class="content_box">
        <h2> Get yours Today </h2>
        <p> Students will receive their packages in their on campus box - show them you care today! </p>
      </div>
    </div>
    <div id="tab_content_image">
      <%= image_tag "Care_Package2.jpg", :width => 200 %>
      <%= link_to "Order Now!", "http://www.carepackages.org/brown", :target => "_blank" %>
    </div>
  </div>
  <div id="tab_navigation">
  </div>
</div>
