<div id="tabs">
  <%= render "student_services_tab" %>
</div>

<div id="tab_content_container">
  <div id="tab_content_title">
    <h1> Gallery </h1>
  </div>
  <div id="tab_navigation">
    <ul>
      <li><%= link_to "Store Info", students_vault_store_info_path %></li>
      <li><%= link_to "Gallery", students_vault_gallery_path %></li>
    </ul>
  </div>
  <div id="tab_navigation">
  </div>
  <div id="tab_content">
    <div id="tab_content_text">
      <hr>
      <p>See us in action!</p>
				<p>
				<embed type="application/x-shockwave-flash" src="https://picasaweb.google.com/s/c/bin/slideshow.swf" width="650" height="533" flashvars="host=picasaweb.google.com&hl=en_US&feat=flashalbum&RGB=0x000000&feed=https%3A%2F%2Fpicasaweb.google.com%2Fdata%2Ffeed%2Fapi%2Fuser%2F108060083012893006841%2Falbumid%2F5722097435053952145%3Falt%3Drss%26kind%3Dphoto%26authkey%3DGv1sRgCIzSu8-Hz7WNBw%26hl%3Den_US" pluginspage="http://www.macromedia.com/go/getflashplayer"></embed>
				</p>
    </div>
    <div id="tab_content_image">
    </div>
  </div>
  
</div>
