<div id="tabs">
  <%= render "student_services_tab" %>
</div>

<div id="tab_content_container">
  <div id="tab_content_title">
    <h1> The Brown Marketplace </h1>
  </div>

  <div id="tab_content">
    <div id="tab_content_text">
      <div class="content_box">
        <h2> Serving Brown Students </h2>
        <p>BSA is proud to host the Brown Marketplace with the help of the Student Activities Office and the Office of Financial Services.</p>
        <p>The Brown Marketplace is the official application serving all Brown University student groups, handling all transactions and settlements of online purchases to students, faculty, and the general public.</p>
      </div>
      <div class="content_box">
        <h2> Visit the Store </h2>
        <p>Please visit our storefront by clicking on the button to the right.</p>
        <p>If you are representing a student group that is interested in hosting an event or selling a product on the Brown Marketplace, please visit our Student Groups section for more information.</p>
      </div>
    </div>
    <div id="tab_content_image">
      <%= link_to "Storefront", "https://payment.brown.edu/C20460_ustores/web/store_main.jsp?STOREID=2&SINGLESTORE=true" %>
    </div>
  </div>
  <div id="tab_navigation">
  </div>
</div>
