<div id="tabs">
  <%= render "student_services_tab" %>
</div>

<div id="tab_content_container">
  <div id="tab_content_title">
    <h1> Keep Your Food and Drinks Cold with our MicroFridge! </h1>
  </div>

  <div id="tab_content">
    <div id="tab_content_text">
      <div class="content_box">
        <h2>Safely Enjoy your Food</h2>
        <p>Whether you are enjoying a late night bag of microwave popcorn or a morning glass of orange juice, MircroFridges will allow you to safely and conveniently make it happen. We offer units with a freezer and fridge as well as combo units that also include an attached microwave.</p>
      </div>
      <div class="content_box">
        <h2>Features</h2>
				<ul>
          <li> True, zero-degree freezer for frozen items</li>
          <li> 2-liter bottle storage on the door</li>
          <li> Full-width wire shelves allow for plenty of storage</li>
          <li> Easy to operate controls on microwave</li>
          <li> Energy Star Rated</li>
				</ul>
      </div>
				<br>
      <div class="content_box">
        <h2> Order today </h2>
				<p>To place your order by phone or for any customer service questions, please call 1-800-637-7567.</p>
      </div>
    </div>
    <div id="tab_content_image">
      <%= image_tag "fridge.png", :width => 200 %>
      <%= link_to "Order Now!", "https://www.collegerefrigerators.com" %>
    </div>
  </div>
  <div id="tab_navigation">
  </div>
</div>
