<div id="tabs">
 <%= render 'student_services_tab' %>
</div>

<div id="tab_content_container">
  <div id="tab_content_title">
    <h1> Check out the BSA Retail Store </h1>
  </div>
  <div id="tab_navigation">
    <ul>
      <li> <%= link_to "Past Products", students_retail_past_products_path %> </li>
    </ul>
  </div>
  <div id="tab_content">
    <div id="tab_content_text" >
      <div class="content_box">
        <h2> Wide Range of Products </h2>
        <p>Come see what BSA's retail store has to offer at the Campus Center Information Desk. We sell a variety of products ranging from tshirts to tote bags.</p>
      </div>
      <div class="content_box">
        <h2> Student Designed </h2>
				<p>All of our products are student-designed and are priced under $20.</p>
				<p>If you are interested in designing a product, email us at bsa@brown.edu. We will compsenate you for great ideas!</p>
      </div>
				<p><embed type="application/x-shockwave-flash" src="https://picasaweb.google.com/s/c/bin/slideshow.swf" width="650" height="533" flashvars="host=picasaweb.google.com&hl=en_US&feat=flashalbum&RGB=0x000000&feed=https%3A%2F%2Fpicasaweb.google.com%2Fdata%2Ffeed%2Fapi%2Fuser%2F108060083012893006841%2Falbumid%2F5728322306714358385%3Falt%3Drss%26kind%3Dphoto%26authkey%3DGv1sRgCOaApvHB65GgDw%26hl%3Den_US" pluginspage="http://www.macromedia.com/go/getflashplayer"></embed></p>
    </div>
    <div id="tab_content_image">
    </div>
  </div>  
</div>
