<div id="tabs">
  <%= render 'student_services_tab' %>
</div>

<div id="tab_content_container">
  <div id="tab_content_title">
    <h1> Free Student Planners </h1>
  </div>

  <div id="tab_content">
    <div id="tab_content_text">
      <p>BSA provides free student planners each fall with the help of University Directories.</p>
				<p>Planners are primarily distributed during the fall Activities Fair. However, a limited number of extra copies are available at the Ratty, Office of Residential Life, and the Information Desk at the Stephen Roberts '62 Campus Center.</p>
				<p>If you are interested in submitting artwork for the cover page of the 2012 academic year planner, please email your design to bsa@brown.edu before May 1st, 2012.</p>
    </div>
    <div id="tab_content_image">
      <%= image_tag "student_planner_image.jpg", :width => 200 %>
    </div>
  </div>
  <div id="tab_navigation">
  </div>
</div>
