<div id="tabs">
  <%= render "student_services_tab" %>
</div>

<div id="tab_content_container">
  <div id="tab_content_title">
    <h1> List and Find Summer Sublets! </h1>
  </div>

  <div id="tab_content">
    <div id="tab_content_text">
      <div class="content_box">
        <h2> Staying in Providence? </h2>
        <p>Are you planning to stay in Providence this summer? Do you have an apartment and want to rent it out this summer?</p>
      </div>
      <div class="content_box">
        <h2> Free for Students </h2>
				<p>BSA has partnered with JumpOffCampus to bring you the BSA Sublet Directory! Unlike conventional directories, the BSA Sublet Directory uses a Google Maps interface so you can easily list and locate properties. Best of all, it's FREE to students!</p>
      </div>
      <div class="content_box">
        <h2> Research your Contract </h2>
				<p>Please make sure you do your research and due diligence prior to signing a contract. Neither BSA nor JumpOffCampus are responsible for any postings on our service.</p>
      </div>
    </div>
    <div id="tab_content_image">
      <%= image_tag "sublet.png", :width => 200 %>
      <%= link_to "Start Now!", "http://bsa.jumpoffcampus.com/" %>
    </div>
  </div>
  <div id="tab_navigation">
  </div>
</div>
