<div id="tabs">
  <%= render "student_services_tab" %>
</div>
<div id="tab_content_container">
  <div id="tab_content_title">
    <h1> Sync your Academic Life with SugarSync! </h1>
  </div>

  <div id="tab_content">
    <div id="tab_content_text">
      <div class="content_box">
        <h2>Anytime, Anywhere Access</h2>
       <p> SugarSync makes it easy to backup, share and access your files, anytime, anywhere. You get
        online cloud storage for all your files — documents, music, photos, and video. When you make
        a change or add files on any of your computers, it automatically syncs your files to the cloud,
        where you can access them from your smartphone or tablet. </p>
      </div>

      <div class="content_box">
        <h2>Secure Online Backup</h2>
        <p>SugarSync’s online backup gives you the power to decide which folders you want to back up
        on any of your computers. As you work, your files are continuously backed up to your secure,
        personal website. Your data is securely transferred via SSL and is stored using AES encryption.
        Every time you make a change, your work is automatically saved to cloud storage. In fact, it
        saves 5 versions of a document so it's easy to revert to an earlier version. With SugarSync, you
        just "set it and forget it." All your data will be there when you need it.</p>
      </div>

      <div class="content_box">
        <h2>Sync Multiple Devices</h2>
        <p>Not only does SugarSync store all your data, it also allows you to sync your data to your other
        computers and devices. During set-up, you tell SugarSync where you want to keep copies
        of your favorite files, photos, or music and the rest happens automatically. If you work on a
        document at home in the evening, it's automatically available on your work computer the next
        day. No more thumb drives or emailing files to yourself. Everything stays organized and up-to-
        date so you don't have to think about it.</p>
      </div>

      <div class="content_box">
        <h2>Simple Folder & File Sharing</h2>
        <p>SugarSync makes it easy to share files with friends and collaborate with colleagues. There are
        several ways to share information online. Create a "public link" with a single click that you
        can send out via email, Twitter, or Facebook. You can also share files and photos from your
        computer or your smartphone -- very powerful if you are away from the office and need to get
        information to someone quickly. You can also securely share any folder with your virtual team. </p>
      </div>
    </div>
    <div id="tab_content_image">
      <%= image_tag "hero-white-ipad.png", :width => "200px" %>
      <%= image_tag "sugarsync-logo.png", :width => "200px" %>
      <%= link_to "Free Trial", "https://www.sugarsync.com/offers/brown/", :target => "_blank" %>
    </div>
  </div>
  <div id="tab_navigation">
  </div>
</div>
