<ul>
  <li><%= link_to "Billboards", groups_billboards_url %></li>
  <li><%= link_to "Event Ticketing", groups_ticketing_url %></li>
  <li><%= link_to "Marketplace", groups_marketplace_url %></li>
  <li><%= link_to "Posters", groups_posters_url %></li>
</ul>
