<div id="tabs">
  <%= render 'student_groups_tab' %>
</div>

<div id="tab_content_container">
  <div id="tab_content_title">
    <h1> Advertise on BSA Billboards </h1>
  </div>
  <div id="tab_navigation">
    <ul>
      <li><%= link_to "Slide Guidelines", groups_billboards_guidelines_path %></li>
      <li><%= link_to "How to Submit", groups_billboards_how_to_submit_path %> </li>
    </ul>
  </div>

  <div id="tab_content">
    <div id="tab_content_text">
      <hr>
      <p>Get your message delivered to the Brown community through BSA’s television billboards. The service is FREE to student groups and departments. Slots are available on a first-come-first-serve basis.</p>
				<p>Slides are updated each Monday morning and run for an entire week. Each slide will be displayed for between 7-12 seconds during every 5 minute cycle.</p>
				<p>We currently offer four HDTV’s spread throughout campus:
					<ul>
						<li>J. Walter Wilson - in the main lobby</li>
						<li>The Ratty - in front of the Bistro</li>
						<li>The SciLi - in the Friedman Cafe</li>
						<li>The Campus Center - above the Information Desk</li>
					</ul><br>
				In addition, the slides are also available on Brown IPTV Channel 1, available in all student dormitories.
				</p>
    </div>
    <div id="tab_content_image">
     <img src="/_media/images/billboards.png" alt="BSA Billboards" width="200px" height="153px" />
    </div>
  </div>
  </div>
