<div id="tabs">
  <%= render 'student_groups_tab' %>
</div>

<div id="tab_content_container">
  <div id="tab_content_title">
    <h1> Squid Scanner </h1>
  </div>

  <div id="tab_content">
    <div id="tab_content_text">
      <div class="content_box">
        <h2> Customizable Ticket Scanning </h2>
        <p>Developed by Ethan Venitz '15 and Ben Vishny '14, the Secure and Quick University ID (SQUID) Scanner is a completely customizable system for groups to issue electronic tickets to an event.</p>
				<p>This service is free and is only available when you host your event through the Brown Marketplace.</p>
				<p>BSA will send your attendees an electronic ticket via email with an embedded QR code which can be either printed or displayed on a smartphone.</p>
      </div>
      <div class="content_box">
        <h2> Secure Login </h2>
				<p>Event hosts will be able to access the Squid Scanner using a secure BSA-issued login and scan tickets on the spot.</p>
				<p>The Squid Scanner is available for download on the iPhone App Store for free. An android version is available on Google play </p>
      </div>
      <div class="content_box">
        <h2> To Learn More </h2>
				<p>Please contact us to learn more about how the Squid Scanner can work for you.</p>
      </div>
    </div>
    <div id="tab_content_image">
      <%= image_tag "squidscanner_loading2.png", :width => "200px", :width => 200 %>
      <a href="mailto:marketplace@brown.edu">Contact Us!</a>
    </div>
  </div>
  <div id="tab_navigation">
  </div>
</div>
