<div id="tabs">
  <%= render 'student_groups_tab' %>
</div>

<div id="tab_content_container">
  <div id="tab_content_title">
    <h1> How it Works </h1>
  </div>
  <div id="tab_navigation">
    <ul>
      <li><%= link_to "How it Works", groups_how_it_works_path %><li>
      <li><%= link_to "Policies", groups_policies_path %><li>
    </ul>
  </div>
  <div id="tab_content">
    <div id="tab_content_text">
    <hr />
    <p>Advertising with BSA is simple and free. Drop off your posters at the Campus Center Information Desk and let us know where you want them. We will put them up for you! We are available:</p>
				<p>Monday through Friday: 9:00 AM to 5:00 PM<br>
				Saturday and Sunday: 10:00 AM to 4:00 PM</p>
				<p><u>Poster in at Faunce Arch</u></p>
				<p>We recommend the Faunce Arch for short-term and immediate advertising needs.</p>
				<p>Posters are put up on Monday, Wednesday and Saturday afternoon. Posters will remain up until the event has passed or for a maximum of seven days.</p> 
				<p>Each student group may have a maximum of two posters up at once. This limit may be reduced to one during weeks with high demand.</p>
				<p><u>Poster in the Glass Bulletin Boards</u></p>
				<p>We recommend the Glass Bulleting Boards for long-term advertising needs.</p>
				<p>Posters are put up on Saturday morning only. Posters will remain up until the event has passed or for a maximum of three weeks.</p>
				<p>Each student group may have a maximum of ten posters up at once. This limit may be reduced to five during weeks with high demand</p>
    </div>
    <div id="tab_content_image">
    </div>
  </div>
  
</div>
