<div id="tabs">
  <%= render 'student_groups_tab' %>
</div>

<div id="tab_content_container">
  <div id="tab_content_title">
    <h1> How to Submit </h1>
  </div>
  <div id="tab_navigation">
    <ul>
      <li><%= link_to "Slide Guidelines", groups_billboards_guidelines_path %></li>
      <li><%= link_to "How to Submit", groups_billboards_how_to_submit_path %> </li>
    </ul>
  </div>
  <div id="tab_content">
    <div id="tab_content_text">
      <hr>
      <p>All slides must be submitted via email to billboards@brown.edu by 5:00 PM on the Friday prior to the week you want your slides to run</p>
				<p>We impose a strict cut off deadline and late submissions will NOT be considered.</p>
				<p>BSA does not send a confirmation of submission. If your slides are rejected for any reason, you will be notified of the reason and your advertisement will not be displayed for that week.</p>
    </div>
    <div id="tab_content_image">
     <img src="/_media/images/billboards.png" alt="BSA Billboards" width="200px" height="153px" />
				<a href="mailto:billboards@brown.edu">Submit Here!</a>
    </div>
  </div>

</div>
