<div class="main">
	<h2>BSA Supports Student Groups</h2>
	<p>BSA provides advertising and business services to our fellow student groups, allowing them to spread the word, sell products online, and manage tickets to events. Learn more about our services for student groups below.</p>
	<div class="tabs">
		<ul class="tab-nav">
			<li id="ln-tab-billboards"><a href="#tab-billboards">Billboards<span><!-- --></span><em><!-- --></em></a>
				<ul>
					<li id="ln-tab-billboards-guidelines"><a href="#tab-billboards-guidelines">Slide Guidelines</a></li>
					<li id="ln-tab-billboards-submission"><a href="#tab-billboards-submission">How to Submit</a></li>
				</ul>
			</li>
			<li id="ln-tab-ticketing"><a href="#tab-ticketing">Event Ticketing<span><!-- --></span><em><!-- --></em></a></li>
			<li id="ln-tab-marketplace"><a href="#tab-marketplace" id="ln-tab-marketplace">Marketplace<span><!-- --></span><em><!-- --></em></a>
				<ul>
					<li id="ln-tab-marketplace-listing"><a href="#tab-marketplace-listing">Listing Request Form</a></li>
					<li id="ln-tab-marketplace-past"><a href="#tab-marketplace-past">Past Transactions</a></li>
				</ul>
			</li>
			<li id="ln-tab-posters"><a href="#tab-posters">Posters<span><!-- --></span><em><!-- --></em></a>
				<ul>
					<li id="ln-tab-posters-works"><a href="#tab-posters-works">How it Works</a></li>
					<li id="ln-tab-posters-policies"><a href="#tab-posters-policies">Policies</a></li>
				</ul>
			</li>
		</ul>
		<div id="tab-billboards" class="tab-content">
			<div class="details">
				<h3>Advertise on BSA Billboards</h3>
				<p>Get your message delivered to the Brown community through BSA’s television billboards. The service is FREE to student groups and departments. Slots are available on a first-come-first-serve basis.</p>
				<p>Slides are updated each Monday morning and run for an entire week. Each slide will be displayed for between 7-12 seconds during every 5 minute cycle.</p>
				<p>We currently offer four HDTV’s spread throughout campus:
					<ul>
						<li>J. Walter Wilson - in the main lobby</li>
						<li>The Ratty - in front of the Bistro</li>
						<li>The SciLi - in the Friedman Cafe</li>
						<li>The Campus Center - above the Information Desk</li>
					</ul><br>
				In addition, the slides are also available on Brown IPTV Channel 1, available in all student dormitories.
				</p>
			</div>
			<div class="image">
				<img src="/_media/images/billboards.png" alt="BSA Billboards" width="200px" height="153px" />
			</div>
		</div>
		<div id="tab-billboards-guidelines" class="tab-content">
			<div class="details">
				<h3>Slide Guidelines</h3>
				<p>Please carefully review the below. Slides may be rejected if they do not adhere the guidelines.</p>
				<p>BSA has final say on all advertisements and may reject any advertisements for any reason.</p>
				<p>Formatting Guidelines:
				<ul>
					<li>Groups may submit at most TWO slides per week</li>
					<li>Submissions MUST use the provided template</li>
					<li>Slides must have AT LEAST 32pt font</li>
					<li>No audio, video, or slide transitions</li>
				</ul>
				</p>
				<p>Content Guidelines:</p>
				<ul>
					<li>Must have correct spelling, grammar, and info</li>
					<li>No unauthorized, copyrighted material</li>
					<li>No graphic, violent, or sexually explicit content</li>
					<li>No profane or derogatory language</li>
					<li>No advertising of alcohol or events with alcohol</li>
					<li>No delivery of political messages although slides may invite community members to attend a political event or seminar</li>
				</ul>
			<br><p>	Finally please ensure that all submissions must adhere to the <a href="http://brown.edu/Administration/Conference_Services/promote/regulations.php">Postering and Publicity Regulations</a>
				</p>
			</div>
			<div class="image">
				<img src="/_media/images/billboards.png" alt="BSA Billboards" width="200px" height="153px" />
				<a href="/_media/pdf/billboards_template.ppt">Template</a>
			</div>
		</div>
		<div id="tab-billboards-submission" class="tab-content">
			<div class="details">
				<h3>How to Submit</h3>
				<p>All slides must be submitted via email to billboards@brown.edu by 5:00 PM on the Friday prior to the week you want your slides to run</p>
				<p>We impose a strict cut off deadline and late submissions will NOT be considered.</p>
				<p>BSA does not send a confirmation of submission. If your slides are rejected for any reason, you will be notified of the reason and your advertisement will not be displayed for that week.</p>
			</div>
			<div class="image">
				<img src="/_media/images/billboards.png" alt="BSA Billboards" width="200px" height="153px" />
				<a href="mailto:billboards@brown.edu">Submit Here!</a>
			</div>
		</div>
		<div id="tab-ticketing" class="tab-content">
			<div class="details">
				<h3>Squid Scanner</h3>
				<p>Developed by Ethan Venitz '15 and Ben Vishny '14, the Secure and Quick University ID (SQUID) Scanner is a completely customizable system for groups to issue electronic tickets to an event.</p>
				<p>This service is free and is only available when you host your event through the Brown Marketplace.</p>
				<p>BSA will send your attendees an electronic ticket via email with an embedded QR code which can be either printed or displayed on a smartphone.</p>
				<p>Event hosts will be able to access the Squid Scanner using a secure BSA-issued login and scan tickets on the spot.</p>
				<p>The Squid Scanner is available for download on the iPhone App Store for free. We will be releasing an Android version later in the semester.</p>
				<p>Please contact us to learn more about how the Squid Scanner can work for you.</p>
			</div>
			<div class="image">
				<img src="/_media/images/squidscanner_loading2.png" alt="" height="300" width="200" />
				<a href="mailto:marketplace@brown.edu">Contact Us!</a>
			</div>
		</div>
		<div id="tab-marketplace" class="tab-content">
			<div class="details">
				<h3>The Brown Marketplace</h3>
				<p>The Brown Marketplace is the official application serving all Brown University student groups, handling transactions of online purchases to both the Brown community and the general public.</p>	
				<p>Got a product or event you want to sell? Let BSA handle all of the logistics so you can focus on what’s important! We offer:
				<ul>
					<li><u>Convenience</u>: Tell us what you need and we will make it happen. Don't worry about reserving space, finding staff, and spending time to sell your products. We will take care of it for you.</li><br>
					<li><u>Reach</u>: Sell your products to anyone with a computer, internet, and credit card increasing the reach of your product or event.</li><br>
					<li><u>Security</u>: We will handle all financial transactions for you through our secure system. Payments will be deposited to your group's billing account. No more dealing with cash or checks.</li><br>
					<li><u>Flexibility</u>: Customize the process. You determine who to sell, how many to sell, what information to collect, and more.</li><br>
					<li><u>Customer Satisfaction</u>: Avoid having lines and disgruntled customers who can't make your sale times. The Brown Marketplace is open 24/7 and can process hundreds of simultaneous requests.</li><br>
				</ul>
				</p>
			</div>
			<div class="image">
				<a href="https://payment.brown.edu/C20460_ustores/web/store_main.jsp?STOREID=2&SINGLESTORE=true">Storefront</a>
			</div>
			</div>
		<div id="tab-marketplace-listing" class="tab-content">
			<div class="details">
				<h3>Listing Request Form</h3>
				<p><iframe src="https://docs.google.com/spreadsheet/embeddedform?formkey=dE94MFZhQUp5N0JJVkJ5U2w5OU1fWXc6MA" width="670" height="700" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe></p>
			</div>
			<div class="image">
			</div>
		</div>
		<div id="tab-marketplace-past" class="tab-content">
			<div class="details">
				<h3>Past Transactions</h3>
				<p><iframe src="https://docs.google.com/document/pub?id=1dziERGr2W9FHiqHzPrv42vdK8GBcyxWcptBO93LrfRc&amp;embedded=true" width="670" height="1000" frameborder="0" marginheight="0" marginwidth="0"></iframe></p>
				<p>
<!--
<table>
<tr>
<td>
<div class="box">
<p><b><font size="2">Fall & Spring Weekend Concert Tickets</font></b></p>
<img src="/_media/images/marketplace/springweekend.jpg" width="75" height="75"><br>
<font size="1">Years: 2008, 2009, 2010, 2011, 2012</font>
</div>
</td>

<td>
<div class="box">
<p><b><font size="2">The Brown Democrats</font></b></p>
<img src="browndems.jpg" width="90" height="90"><br>
<font size="1">Years: 2011</font>
</div></td>

<td>
<div class="box">
<p><b><font size="2">Market Shares</font></b></p>
<img src="marketshare.jpg" width="90" height="90"><br>
<font size="1">Years: 2011, 2012</font>
</div></td>
</tr>

<tr>
<td>
<div class="box">
<p><b><font size="2">Brown Journal of World Affairs</font></b></p>
<img src="BJWA.png" width="75" height="75"><br>
<font size="1">Years: 2009, 2010, 2011, 2012</font>
</div>
</td>

<td>
<div class="box">
<p><b><font size="2">Senior Week Packages</font></b></p>
<img src="seniorweek2011.jpg" width="75" height="85"><br>
<font size="1">Years: 2009, 2010, 2011</font>
</div></td>

<td>
<div class="box">
<p><b><font size="2">Gala</font></b></p>
<img src="gala.jpg" width="85" height="95"><br>
<font size="1">Years: 2009, 2010, 2011, 2012</font>
</div></td>
</tr>

<tr>
<td>
<div class="box">
<p><b><font size="2">Senior Class Prom</font></b></p>
<img src="prom2011.jpg" width="75" height="85"><br>
<font size="1">Years: 2009, 2010, 2011, 2012</font>
</div>
</td>

<td>
<div class="box">
<b><font size="2">Rites of Passage Ceremony</font></b>
<img src="onyx2011.jpg" width="105" height="70"><br><br>
<font size="1">Years: 2010, 2011</font>
</div></td>

<td>
<div class="box">
<p><b><font size="2">A Better World By Design</font></b></p>
<img src="ABWxD.png" width="65" height="80"><br>
<font size="1">Years: 2009, 2010, 2011</font>
</div></td>
</tr>

<tr>
<td>
<div class="box">
<p><b><font size="2">Dash for Diabetes</font></b></p>
<img src="dash.jpg" width="85" height="75"><br><br>
<font size="1">Years: 2009, 2010</font>
</div>
</td>

<td>
<div class="box">
<p><b><font size="2">ARRR!!! CD's</font></b></p>
<img src="ARRR.jpg" width="105" height="85"><br>
<font size="1">Years: 2011, 2012</font>
</div></td>

<td>
<div class="box">
<p><b><font size="2">The Brown Band</font></b></p>
<img src="BrownBand.gif" width="75" height="85"><br>
<font size="1">Years: 2011, 2012</font>
</div></td>
</tr>


</table> -->
</p>
			</div>
			<div class="image">

			</div>
		</div>
		<div id="tab-posters" class="tab-content">
			<div class="details">
				<h3>Posters and Flyers</h3>
				<p>BSA knows how difficult it can be to promote your group or event. That’s why we have partnered with the Student Activities Office to offer groups some of the best advertising possibilities.</p>
				<p>If you are interested in placing an advertisement in the Faunce Arch or in any of the glass bulletin boards scattered throughout the Campus Center or J Walter Wilson lobby, we are here to help!</p>
			</div>
			<div class="image">
			</div>
		</div>
		<div id="tab-posters-works" class="tab-content">
			<div class="details">
				<h3>How it Works</h3>
				<p>Advertising with BSA is simple and free. Drop off your posters at the Campus Center Information Desk and let us know where you want them. We will put them up for you! We are available:</p>
				<p>Monday through Friday: 9:00 AM to 5:00 PM<br>
				Saturday and Sunday: 10:00 AM to 4:00 PM</p>
				<p><u>Poster in at Faunce Arch</u></p>
				<p>We recommend the Faunce Arch for short-term and immediate advertising needs.</p>
				<p>Posters are put up on Monday, Wednesday and Saturday afternoon. Posters will remain up until the event has passed or for a maximum of seven days.</p> 
				<p>Each student group may have a maximum of two posters up at once. This limit may be reduced to one during weeks with high demand.</p>
				<p><u>Poster in the Glass Bulletin Boards</u></p>
				<p>We recommend the Glass Bulleting Boards for long-term advertising needs.</p>
				<p>Posters are put up on Saturday morning only. Posters will remain up until the event has passed or for a maximum of three weeks.</p>
				<p>Each student group may have a maximum of ten posters up at once. This limit may be reduced to five during weeks with high demand</p>				
			</div>
			<div class="image">
			</div>
		</div>
		<div id="tab-posters-policies" class="tab-content">
			<div class="details">
				<h3>Postering Policies</h3>
				<p>Student groups are not allowed to put up posters without coming to the Campus Center Information Desk. If you'd like to put up your own poster either location, you must still come to the Information Desk first to receive a stamp.</p>
				<p>BSA with the help of the SAO reviews each advertisement to ensure that they are in line with the <a target="_new" href="http://brown.edu/Administration/Conference_Services/promote/regulations.php">University Postering Regulations</a>.</p>
				<p><u>Violations</u></p>
				<p>Posters found on the Faunce Arch or on the Glass Bulleting Boards without a stamp will result in a violation for the sponsoring group.</p>
				<p>Posters found anywhere else in the Campus Center or in J Walter Wilson will also result in a violation for the sponsoring group.</p>
				<p>Groups will be allowed ONE warning per academic year. We will fine groups $15 for their second offense and $50 for each subsequent offense. Additional fines may be assessed by the SAO depending on severity infractions.</p>
				<p>Groups that continue to violate these policies will be subject to disciplinary action.</p>			
			</div>
			<div class="image">
			</div>
		</div>
	</div>
</div>