<div id="tabs">
  <%= render 'student_groups_tab' %>
</div>

<div id="tab_content_container">
  <div id="tab_content_title">
    <h1> Postering and Policies </h1>
  </div>
  <div id="tab_navigation">
    <ul>
      <li><%= link_to "How it Works", groups_how_it_works_path %><li>
      <li><%= link_to "Policies", groups_policies_path %><li>
    </ul>
  </div>
  <div id="tab_content">
    <div id="tab_content_text">
      <hr />
      <p>Student groups are not allowed to put up posters without coming to the Campus Center Information Desk. If you'd like to put up your own poster either location, you must still come to the Information Desk first to receive a stamp.</p>
				<p>BSA with the help of the SAO reviews each advertisement to ensure that they are in line with the <a target="_new" href="http://brown.edu/Administration/Conference_Services/promote/regulations.php">University Postering Regulations</a>.</p>
				<p><u>Violations</u></p>
				<p>Posters found on the Faunce Arch or on the Glass Bulleting Boards without a stamp will result in a violation for the sponsoring group.</p>
				<p>Posters found anywhere else in the Campus Center or in J Walter Wilson will also result in a violation for the sponsoring group.</p>
				<p>Groups will be allowed ONE warning per academic year. We will fine groups $15 for their second offense and $50 for each subsequent offense. Additional fines may be assessed by the SAO depending on severity infractions.</p>
				<p>Groups that continue to violate these policies will be subject to disciplinary action.</p>
    </div>
    <div id="tab_content_image">
    </div>
  </div>
  
</div>
