<div id="tabs">
  <%= render 'student_groups_tab' %>
</div>

<div id="tab_content_container">
  <div id="tab_content_title">
    <h1> Posters and Flyers </h1>
  </div>

  <div id="tab_navigation">
    <ul>
      <li><%= link_to "How it Works", groups_posters_how_it_works_path %><li>
      <li><%= link_to "Policies", groups_posters_policies_path %><li>
    </ul>
  </div>
  <div id="tab_content">
    <div id="tab_content_text">
      <div class="content_box">
        <h2> Promote your Event </h2>
        <p>BSA knows how difficult it can be to promote your group or event. That’s why we have partnered with the Student Activities Office to offer groups some of the best advertising possibilities.</p>
				<p>If you are interested in placing an advertisement in the Faunce Arch or in any of the glass bulletin boards scattered throughout the Campus Center or J Walter Wilson lobby, we are here to help!</p>
      </div>
    </div>
    <div id="tab_content_image">
    </div>
  </div>
</div>
