<div id="tabs">
  <%= render 'student_groups_tab' %>
</div>

<div id="tab_content_container">
  <div id="tab_content_title">
    <h1> Slide Guidelines </h1>
  </div>
  <div id="tab_navigation">
    <ul>
      <li><%= link_to "Slide Guidelines", groups_billboards_guidelines_path %></li>
      <li><%= link_to "How to Submit", groups_billboards_how_to_submit_path %> </li>
    </ul>
  </div>
  <div id="tab_content">
    <div id="tab_content_text">
      <hr>
      <div class="content_box">
        <h2> Guidelines to Adhere to </h2>
        <p>Please carefully review the below. Slides may be rejected if they do not adhere the guidelines.</p>
				<p>BSA has final say on all advertisements and may reject any advertisements for any reason.</p>
				<p>Formatting Guidelines:
				<ul>
					<li>Groups may submit at most TWO slides per week</li>
					<li>Submissions MUST use the provided template</li>
					<li>Slides must have AT LEAST 32pt font</li>
					<li>No audio, video, or slide transitions</li>
				</ul>
				</p>
      </div>
      <div class="content_box">
				<h2>Content Guidelines:</h2>
				<ul>
					<li>Must have correct spelling, grammar, and info</li>
					<li>No unauthorized, copyrighted material</li>
					<li>No graphic, violent, or sexually explicit content</li>
					<li>No profane or derogatory language</li>
					<li>No advertising of alcohol or events with alcohol</li>
					<li>No delivery of political messages although slides may invite community members to attend a political event or seminar</li>
				</ul>
			<br><p>	Finally please ensure that all submissions must adhere to the <a href="http://brown.edu/Administration/Conference_Services/promote/regulations.php">Postering and Publicity Regulations</a>
				</p>
      </div>
    </div>
    <div id="tab_content_image">
     <img src="/_media/images/billboards.png" alt="BSA Billboards" width="200px" height="153px" />
				<a href="/_media/pdf/billboards_template.ppt">Template</a>
    </div>
  </div>

</div>
