<div id="tabs">
  <%= render 'student_groups_tab' %>
</div>

<div id="tab_content_container">
  <div id="tab_content_title">
    <h1> Squid Scanner </h1>
  </div>
<div id="tab_navigation">
    <ul>
      <li> <%= link_to "Listing Request Form", groups_marketplace_request_form_path %> </li>
      <li> <%= link_to "Past Transactions", groups_marketplace_transactions_path %> </li>
    </ul>
  </div>
  <div id="tab_content">
    <div id="tab_content_text">
      <hr>
      <p><iframe src="https://docs.google.com/document/pub?id=1dziERGr2W9FHiqHzPrv42vdK8GBcyxWcptBO93LrfRc&amp;embedded=true" width="670" height="1000" frameborder="0" marginheight="0" marginwidth="0"></iframe></p>
    </div>
    <div id="tab_content_image">
    </div>
  </div>
  <div id="tab_navigation">
  </div>
</div>
