<!--<header id="header">
	<a href="/" rel="index" title="Go to homepage" class="ir site-name">Brown Student Agancies<span><!-- --></span></a> 

	<nav id="navigation">
		<ul>
			<li%- if request.fullpath.include? "/students" -%> class="active"%= end -%>><a href="/students">Students</a></li>
			<li%- if request.fullpath.include? "/groups" -%> class="active"%= end -%>><a href="/groups">Student Groups</a></li>
			<li%- if request.fullpath.include? "/biz" -%> class="active"%= end -%>><a href="/biz">Businesses</a></li>
			<li%- if request.fullpath.include? "/community" -%> class="active"%= end -%>><a href="/community">Community Affairs</a></li>
			<li%- if request.fullpath.include? "/about" -%> class="active"%= end -%>><a href="/about">About Us</a></li>
		</ul>
	</nav>
	<!-- / navigation -->
	<hr />

</header> -->
