<div class="news_item">
  <div class="news_img">
    <%= image_tag "bsa_site_logo.png", :width => "200px", :class => "small_news_image" %>
  </div>
  <div class="news_text">
    <h3> Brown Student Agencies Has a New Look</h3>
    <p> We have recently changed our website design to provide a more pleasing visual experience for you as well as better help you navigate our products and learn more about them. We still provide all the same great services. Let us know what you think of the new design in a comment box at the bottom of the page! </p>
  </div>
</div>
<div class="news_item">
  <div class="news_img">
    <%= image_tag "storage_center_small.jpg", :width => "200px", :height => "200px"  %>
  </div>
  <div class="news_text">
    <h3> Storage Center Locations </h3>
    <p> Storage Center will be at the following locations today to pick up your storage boxes </p>
    <p> 12:00 - 2:00 P.M. Thayer </p>
    <p>  2:00 - 4:00 P.M. Keeney Quadrangle </p>
    <p>  4:00 - 6:00 P.M. Verney Wooley </p>
  </div>
</div>
<div class="news_item">
  <div class="news_img">
    <%= image_tag "storage_center_small.jpg", :width => "200px" %>
  </div>
  <div class="news_text">
    <h3> Storage Redelivery Update </h3>
    <p> Brown Student Agencies is teaming up with Brown Alumni Association to create the first card designed specifically for Brown Alumni. The card will allow users to gather bonuses and discounts when they use the card at designated retailors. We are currently accepting preorders, so head over the to the <%= link_to "Brown Alumni Card website", "http://young-cloud-9990.herokuapp.com/alumni/home" %> and fill out the form today.</p>
  </div>
</div>
<div id="more_news">
</div>
