<div class="news_item">
  <div class="news_img">
    <%= image_tag "bsa_site_logo.png", :width => "200px", :class => "small_news_image" %>
  </div>
  <div class="news_text">
    <h3> Brown Student Agencies Has a New Look</h3>
    <p> We have recently changed our website design to provide a more pleasing visual experience for you as well as better help you navigate our products and learn more about them. We still provide all the same great services. Let us know what you think of the new design! </p>
  </div>
</div>

<div class="news_item">
  <div class="news_img">
    <%= image_tag "brown_logo.jpg", :width => "150px"  %>
  </div>
  <div class="news_text">
    <h3> Brown Mobile App - Coming Soon </h3>
    <p> Brown Student Agencies is working on creating the official mobile application for Brown University. The Brown mobile app will allow you to track your academics, check out the menu for your next meal, manage your bear bucks and more. Stay tuned for more information. </p>
  </div>
</div>
<div class="news_item">
  <div class="news_img">
    <%= image_tag "bsa_site_logo.png", :width => "200px", :class => "small_news_image" %>
  </div>
  <div class="news_text">
    <h3> Stay Tuned for Job Opporunities </h3>
    <p> Brown Student Agencies is always looking for top talent and will soon be announcing job openings in the fall. Stay tuned for more information </p>
  </div>
</div>
<div id="more_news">
</div>
