<div class="tab-pane active" id="tab1">
  <div class="news_item">
    <h3> Brown Student Agencies Has a New Look</h3>
    <p> We have recently changed our website design to provide a more pleasing visual experience for you as well as better help you navigate our products and learn more about them. We still provide all the same great services. Let us know what you think of the new design in a comment box at the bottom of the page! </p>
  </div>
  <div class="news_item">
    <h3> Storage Center locations </h3>
    <p> Storage Center will be at the following locations today to pick up your storage boxes </p>
    <p> 12:00 - 2:00 P.M. Thayer </p>
    <p>  2:00 - 4:00 P.M. Keeney Quadrangle </p>
    <p>  4:00 - 6:00 P.M. Verney Wooley </p>
  </div>
  <div class="news_item">
    <h3> Brown Alumni Cards, Coming Soon </h3>
    <p> Brown Student Agencies is teaming up with Brown Alumni Association to create the first card designed specifically for Brown Alumni. The card will allow users to gather bonuses and discounts when they use the card at designated retailors. We are currently accepting preorders, so head over the to the <%= link_to "Brown Alumni Card website", "http://young-cloud-9990.herokuapp.com/alumni/home" %> and fill out the form today.</p>
  </div>
  <div id="more_news">
  </div>
</div>

<div class="tab-pane" id="tab2">
  <div class="news_item">
    <h3> Squid Scanner Test </h3>
    <p> Brown Student Agencies will be testing its new mobile scanning decise in JWW on Thursday from 11-2 PM and we would like you to come. Participants will be entered in a raffle to win a cash prize of $50! Sign up now at <%= link_to "Brown Marketplace", "#" %>. Tickets are free and limited to one per person. </p>
  </div>
  <div class="news_item">
    <h3> BSA Event </h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p> 
  </div>
  <div class="news_item">
    <h3> BSA Event </h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p> 
  </div>
  <div id="more_news">
    <p> <%= link_to "More News", "#" %> </p>
  </div>
</div>
