<div class="slide_one">
  <div class="slide_banner">
    <%= image_tag "storage_center_banner.jpg" %>
  </div>
  <div class="slide_content">
    <div class="slide_side_image">
      <%= image_tag "storage_center_small.png" %>
    </div>
    <div class="slide_title">
      <h2> Reclaim your Summer Storage</h2>
    </div>
    <div class="slide_text">
      <p> 
        It is time to start thinking about your return trip to Brown. Store your stuff in Providence over the summer break? Now is the time to lock in a day to have your stuff redelivered for your return trip. Find out more from the <a href="/pdf/Redelivery Update -- 7.15.12.pdf">Redelivery document</a>
      </p>
    </div>
  </div>
</div>
