<div class="slide_three">
  <div class="slide_banner">
    <%= image_tag "sugarsync-banner.png" %>
  </div>
  <div class="slide_content">
    <div class="slide_side_image">
      <%= image_tag "hero-white-ipad.png", :width => "250px" %>
    </div>
    <div class="slide_title">
      <h2> Dependable Cloud Stroage </h2>
    </div>
    <div class="slide_text">
      <p> 
        BSA is pleased to announce a new partnership with SugarSync. Sync your documents in the cloud effortlessly and affordably with a 20% discount on 30GB accounts.
      </p>
    </div>
  </div>
</div>
