<!--<div>
  <div class="image">
    <%= image_tag "bsa_site_logo.png", :width => "230px" %>
  </div>
  <div class="details">
    <h2>Brown Marketplace</h2>
    <p class="details_p_first">Got a product or event you want to sell? Let BSA handle all of the logistics so you can focus on what's important!</p> 
    <p>The Brown Marketplace is the official application serving all University student groups, offering secure transactions to both the Brown community and the general public.</p>
    <a class="btn" href="https://payment.brown.edu/C20460_ustores/web/store_main.jsp?STOREID=2&SINGLESTORE=true">Learn More</a>
  </div></div
</div> -->

<div class="slide_three">
  <div class="slide_banner">
    <%= image_tag "coming-soon-banner.jpg" %>
  </div>
  <div class="slide_content">
    <div class="slide_side_image">
      <%= image_tag "question.png" %>
    </div>
    <div class="slide_title">
      <h2> New Products Coming to BSA </h2>
    </div>
    <div class="slide_text">
      <p> 
        Brown Student Agencies is pleased so announce that we have some new products for fall. Stay tuned for further updates as we prepare for our new product launches.
      </p>
    </div>
  </div>
</div>
