<div class="slide_two">
  <div class="slide_banner">
    <%= image_tag "brown_summer_banner.jpg" %>  
  </div>
  <div  class="slide_content">
    <div class="slide_side_image">
      <%= image_tag "brown_slide_logo.png", :height => "220px" %>
    </div>
    <div class="slide_title">
      <h2> Brown Summer Programs </h2>
    </div>
    <div class="slide_text">
      <p class="details_p_first"> Are you a summer student? BSA continues to provide services to those at Brown during the summer months. Check out our range of options to make your summer the best it can be. </p>
      <p> <a class="btn" href="/summer">Learn More</a> </p>
      </p>
    </div>
  </div>
</div>
