<!-- TOP BANNER -->
<!-- <div class="featured">
	<div class="slider">
	  <!-- BEGIN SLIDE LISTS -->
		<ul>
		  <!-- SLIDE 1 Sublet Directory -->
			<li>
				<div class="image">
					<img src="/_media/images/home.png" style="padding-left:3px" alt="Sublet" />
				</div>
				<div class="details">
					<h2>BSA Sublet Directory Now Live!</h2>
					<p class="details_p_first">BSA has partnered with JumpOffCampus (JOC) to offer students the opportunity to list and browse sublets for the summer. Using Google Maps as a foundation, JOC allows you to visually see where sublets are offered, what their prices and availability dates are, and more! </p>
					<p>So, what are you waiting for? Click the link below to browse the directory or post your summer sublet today.</p>
					<a class="btn" href="http://bsa.jumpoffcampus.com/">Learn More</a>
				</div>
			</li>
			<!-- END SLIDE 1 BSA INSPIRE -->
			<!-- SLIDE 2 BSA OPPORTUNITIES -->
			<li>
				<div class="image">
					<img src="/_media/images/suit_transparent.png" alt="BSA Business Opportunities" />
				</div>
				<div class="details">
					<h2>Business Opportunities</h2>
					<p class="details_p_first">BSA offers a variety of opportunities to grow your business. Advertise on TV screens throughout campus with ReachBrown, on student handbooks and event tickets, or set up a table in the lobby of one of Brown's busiest buildings. </p>
					<p>BSA can also work with you to develop a custom solution or partnership. We can help sell your product on campus, enriching the lives of Brown students.</p>
					<a class="btn" href="/biz">Learn More</a>
				</div>
			</li>
			<!-- END SLIDE 2 BSA OPPORTUNITIES -->
			<!-- SLIDE 3 Marketplace -->
			<li>
				<div class="image">
					<img src="/_media/images/cart.png" alt="BSA Marketplace" />
				</div>
				<div class="details">
					<h2>Brown Marketplace</h2>
					<p class="details_p_first">Got a product or event you want to sell? Let BSA handle all of the logistics so you can focus on what's important!</p> 
					<p>The Brown Marketplace is the official application serving all University student groups, offering secure transactions to both the Brown community and the general public.</p>
					<a class="btn" href="https://payment.brown.edu/C20460_ustores/web/store_main.jsp?STOREID=2&SINGLESTORE=true">Learn More</a>
				</div>
			</li>
			<!-- END SLIDE 3 Squid Scanner Access Control -->
		</ul>
	  <!-- END SLIDE LIST -->
	</div>
	<!-- END SLIDER -->
	
	<div class="slider-pagination">
		<span class="slides-nav"><!-- --></span>
	</div>
	<!-- slider-pagination -->
</div>
<!-- END TOP BANNER -->
<!-- / featured -->
<div class="main"> 
	<div class="product-table">
		<div class="service box">
			<header bsahref="/students" class="box-button"><h3>Student Services</h3></header>
			<a href="http://brownbsa.com/students">
			<img src=/_media/images/studenthome.jpg alt="Student Home" width="225" /></a>
		</div>
		<div class="group box">
			<header bsahref="/groups" class="box-button"><h3>Student Groups</h3></header>
			<a href="http://brownbsa.com/groups">
			<img src=/_media/images/grouphome.jpg alt="Group Home" width="225" /></a>

		</div>
		<div class="business box">
			<header bsahref="/biz" class="box-button"><h3>Business Services</h3></header>
			<a href="http://brownbsa.com/biz">
			<img src=/_media/images/bizhome.jpg alt="Business Home" width="225" /></a>

		</div>
		<div class="partner box">
			<header bsahref="/about" class="box-button"><h3>About <br /> BSA</h3></header>
			<a href="http://brownbsa.com/about">
			<img src=/_media/images/abouthome.jpg alt="About Us Home" width="225" /></a>

		</div>
	</div>
<br>
	<!-- / product-table -->
</div> -->
