<div id="tabs">
  <%= render 'community_tabs' %>
</div>

<div id="tab_content_container">
  <div id="tab_content_title">
    <h1> Application Proccess </h1>
  </div>

  <div id="tab_navigation">
    <ul>
      <li><%= link_to "Guidelines", community_inspire_guidelines_path %> </li>
      <li><%= link_to "How to Apply", community_inspire_apply_path %> </li>
    </ul>
  </div>
  <div id="tab_content">
    <div id="tab_content_text">
      <hr>
      <div class="content_box">
        <h2> Application Dates </h2>
        <p>We offer five rounds of applications. In the fall, they are October 30th and November 30th. In the spring, they are February 28th, March 30th, and April 30th.</p>
				<p>There is no advantage to applying in fall versus spring but we recommend applying in the earlier rounds within either semester.</p>
				<p>Each person or group may only apply once per semester. If your application is rejected, you may reapply once more in the same semester.</p>
      </div>
    </div>
    <div id="tab_content_image">
      <%= image_tag "bsa_inspire_logo.png", :height => "150px" %>
    </div>
  </div>
</div>
