<div id="tabs">
  <%= render 'community_tabs' %>
</div>

<div id="tab_content_container">
  <div id="tab_content_title">
    <h1> Community Events </h1>
  </div>

  <div id="tab_content">
    <div id="tab_content_text">
      <div class="content_box">
        <h2> Nothing Productive </h2>
        <p>BSA is proud to sponsor "Nothing Productive," a mockumentary web series about a chaos-prone, blissfully dysfunctional student group getting nothing done.</p><p>
				"Nothing Productive" follows eight oddballs around their equally oddball university, in a story about the good, the bad, and the ugly things that happen when you get stuck in a room with the same eight people every week...especially when all eight are insane.</p>
				<p>Produced and performed entirely by Brown students, the series stars Emma Brandt '14, Max Genecov '15, Austen Hyde '14, Ben Jones '13, Drew Kunas '12, Gillian Michaleson '14, Cheno Pinter '14, and Allison Schaaff '14, and is produced by Kate Doyle '12, Andrew Favaloro 'GS, and Josh Bloom '14.</p>
      </div>
    </div>
    <div id="tab_content_image">
      <%= image_tag "nothingproductive.jpg" %>
    </div>
  </div>
  <div id="tab_navigation">
  </div>
</div>
