<div id="tabs">
  <%= render 'community_tabs' %>
</div>

<div id="tab_content_container">
  <div id="tab_content_title">
    <h1> CV Starr Fellowship </h1>
  </div>

  <div id="tab_content">
    <div id="tab_content_text">
      <p>BSA is excited to partner with the Swearer Center to bring an additional seat to the CV Starr Fellowship! The Fellowship provides entrepreneurial undergraduates resources, guidance, and up to $4,000 to support their efforts in advancing social change.</p>
				<p>This year, we are proud to fund The Jewelry Project, an idea by Pilar Garcia-Brown to help women of the Secoya community become financially independent by selling hand-made jewelry.</p>
    </div>
    <div id="tab_content_image">
      <%= image_tag "sii.jpg", :width => "200px" %>
				<a href="http://swearercenter.brown.edu/sii/starr-fellows/631/the-jewelry-project">Learn More</a>
    </div>
  </div>
  <div id="tab_navigation">
  </div>
</div>
