<div id="tabs">
  <%= render 'community_tabs' %>
</div>

<div id="tab_content_container">
  <div id="tab_content_title">
    <h1> Guidlines </h1>
  </div>

  <div id="tab_navigation">
    <ul>
      <li><%= link_to "Guidelines", community_inspire_guidelines_path %> </li>
      <li><%= link_to "How to Apply", community_inspire_apply_path %> </li>
    </ul>
  </div>
  <div id="tab_content">
    <div id="tab_content_text">
        <hr>
        <p>BSA Inspire seeks to fund long-term, lasting projects that benefit the Brown or Providence community. For this reason, we will not fund events - even if they are recurring.</p>
				<p>BSA will award up to $1,000 of reimbursable funding per project. If the project is seeking funding aside from BSA Inspire, applicants must disclose where else they will seek funding.</p>
				<p>At the end of each semester, we ask recepients to provide a documentation of their progress. This could be a video, photos with interviews, a blog maintained throughout the semester, or a similar project. This way, we can showcase your success and hopefully inspire other students.</p>
    </div>
    <div id="tab_content_image">
      <%= image_tag "bsa_inspire_logo.png", :height => "150px" %>
    </div>
  </div>
</div>
