<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p> User Feedback </p>
    <p> ============================ </p>
    <p> Name: <%= @name %> </p>
    <p> Email: <%= @email %> </p>
    <p> Comments </p>
    <p> <%= @comment %> </p>
  </body>
</html>
