<div id="tabs">
  <%= render 'about_tabs' %>
</div>

<div id="tab_content_container">
  <div id="tab_content_title">
    <h1> Contact Information </h1>
  </div>

  <div id="tab_content">
    <div id="tab_content_text">
      <p><strong>General Inquiries:</strong></br><a href= "mailto:bsa@brown.edu">bsa@brown.edu</a></br>
				For general questions about BSA or its programs, please email or call us at (401) 863-2226.</p>

				<p><strong>Marketplace:</strong></br><a href= "mailto:marketplace@brown.edu">marketplace@brown.edu</a></br>
				If you have questions about our Marketplace or would like us to host your product, please email the above address.</p>

				<p><strong>Advertising:</strong></br><a href= "mailto:reach@brown.edu">reach@brown.edu</a></br>
				Students can contact the Information Desk or Student Activities Office to request more information on group advertising.</p>
				
				<p><strong>Vault:</strong></br><a href= "mailto:vault@brown.edu">vault@brown.edu</a></br>
				Started by two students, the Vault is Brown's upcycling initiative. Please email for more information, or head over to the <a href="http://brownbsa.com/students#vault">Vault page</a> to learn more.</p>
				
				<p><strong>Mailing Address:</strong><br>
				Brown Student Agencies<br>
				69 Brown St., Box 2001<br>
				Providence, RI 02912-2001
				</p>
    </div>
    <div id="tab_content_image">
      <%= image_tag "http://www.brown.edu/Departments/Education/uep/imagesx/faunce.gif", :height => "150px" %>
    </div>
  </div>
  <div id="tab_navigation">
  </div>
</div>
