<div id="tabs">
  <%= render 'about_tabs' %>
</div>

<div id="tab_content_container">
  <div id="tab_content_title">
    <h1> About Us </h1>
  </div>

  <div id="tab_content">
    <div id="tab_content_text">
      <div class="content_box">
        <h2> History </h2>
        <p>Founded in 1969, Brown Student Agencies (BSA) is a student run organization under the Student Activities Office. Our mission is three-fold:</br>
				<ul>
					<li>To provide business experience for Brown undergraduates</li>
					<li>To offer needed products and services to the University community</li>
					<li>To give back to Brown and greater Providence area</li>
				</ul></p> 
        <p>Interested in learning more about BSA and how we work? Click on one of the links to your left or email <a href="mailto:bsa@brown.edu"> bsa@brown.edu </a> for more information.</p>
      </div>
    </div>
    <div id="tab_content_image">
      <%= image_tag "faunce.jpg", :height => "150px" %>
    </div>
  </div>
  <div id="tab_navigation">
  </div>
</div>
