<div class="main"> 
	<h2>About BSA</h2>
	<p>We work with collegiate vendors and entrepreneurial students to deliver innovative services to the Brown community. Part of Student Activities, we manage several core services on campus.</p>
	<div class="tabs">
		<ul class="tab-nav">
			<li id="ln-tab-history"><a href="#tab-history">History &amp; Mission<span><!-- --></span><em><!-- --></em></a></li>
			<li id="ln-tab-staff"><a href="#tab-staff" id="ln-staff">Staff<span><!-- --></span><em><!-- --></em></a></li>
			<li id="ln-tab-contact"><a href="#tab-contact" id="ln-contact">Contact Us<span><!-- --></span><em><!-- --></em></a></li>
			<li id="ln-tab-partner"><a href="#tab-partner" id="ln-contact">Partner with BSA<span><!-- --></span><em><!-- --></em></a></li>
			<li id="ln-tab-jobs1"><a href="#tab-jobs1" id="ln-jobs1">Work for BSA<span><!-- --></span><em><!-- --></em></a></li>
			<li id="ln-tab-ccis"><a href="#tab-ccis" id="ln-ccis">Information Desk<span><!-- --></span><em><!-- --></em></a></li>
		</ul>
		<div id="tab-history" class="tab-content">
			<div class="details">
				<h3>About Us</h3>
				<p>Founded in 1969, Brown Student Agencies (BSA) is a student run organization under the Student Activities Office. Our mission is three-fold:</br>
				<ul>
					<li>To provide business experience for Brown undergraduates</li>
					<li>To offer needed products and services to the University community</li>
					<li>To give back to Brown and greater Providence area</li>
				</ul></p> 
			<p>Interested in learning more about BSA and how we work? Click on one of the links to your left or email <a href="mailto:bsa@brown.edu"> bsa@brown.edu </a> for more information.</p>
      			</div>
			<div class="image">
			      	<img src="/_media/images/faunce.jpg" alt="Faunce" width="225">
		      </div>
		</div>
		<div id="tab-staff" class="tab-content">
			<div class="details">
				<h3>Who works for BSA?</h3>
				<p><strong>Management Team:</strong></p>
				Lingke Wang, '12 - Director Emeritus</br>
				Michael Caron, '12 - Director Emeritus</br>
				Alicia Chen, '12 - Director Emeritus</br>
				Kristina Fazzalaro, '12 - Director Emeritus</br>
				<br />
				Connor Shinn, '14 - Executive Director</br>
				Benjamin Vishny, '14 - Director of Technology</br>
				Dylan Daniels, '14 - Director of Human Resources</br>
				Joshua Bloom, '14 - Director of Operations</br>
				Jaap Ruoff, '13 - Director of Sales	</br>			
				Julia Verbrugge, '15 - Director of Marketing</br>	
				Ellen Pederson, '12.5 - Dir. of Community Affairs</br>	
				Wes Sanders, '15 - Assist. Director of Sales</br>	
				Grace Abe, '15 - Graphic Designer</br>	
				Ethan Venitz, '15 - Application Development</p>	

				<p><strong>Campus Center Information Specialists:</strong></p>
				James Clemmons, '14</br>
				Lisa Berdie, '12</br>
				Cathy Chan, '12</br>
				Ana Cuellar, '13</br>
				Steven Tran, '14</br>
				Mia Zachary, '13</br>
				Andrew Chang, '13</p>

				<p><strong>Vault:</strong></p>
				Hannah Winkler, '13</br>
				Tara Noble, '12.5</br>
				Juliana Rodriguez</p>
			</div>
			<div class="image">
			      	<img src="/_media/images/group.jpg" alt="Group" width="225">
			</div>
		</div>
		<div id="tab-contact" class="tab-content">
			<div class="details">
				<h3>Contact Information</h3>
				<p><strong>General Inquiries:</strong></br><a href= "mailto:bsa@brown.edu">bsa@brown.edu</a></br>
				For general questions about BSA or its programs, please email or call us at (401) 863-2226.</p>

				<p><strong>Marketplace:</strong></br><a href= "mailto:marketplace@brown.edu">marketplace@brown.edu</a></br>
				If you have questions about our Marketplace or would like us to host your product, please email the above address.</p>

				<p><strong>Advertising:</strong></br><a href= "mailto:reach@brown.edu">reach@brown.edu</a></br>
				Students can contact the Information Desk or Student Activities Office to request more information on group advertising.</p>
				
				<p><strong>Vault:</strong></br><a href= "mailto:vault@brown.edu">vault@brown.edu</a></br>
				Started by two students, the Vault is Brown's upcycling initiative. Please email for more information, or head over to the <a href="http://brownbsa.com/students#vault">Vault page</a> to learn more.</p>
				
				<p><strong>Mailing Address:</strong><br>
				Brown Student Agencies<br>
				69 Brown St., Box 2001<br>
				Providence, RI 02912-2001
				</p>
			</div>
			<div class="image">
					<img src="http://bsa.brown.edu/imgs/faunce.jpg" alt="Faunce">
			</div>
		</div>
		<div id="tab-partner" class="tab-content">
			<div class="details">
				<h3>Partner with BSA</h3>
				<p><strong>Students:</strong></br> Think you've got a great idea but don't know how to make it happen? Let BSA help! One of our main goals is to be a resource to help support student businesses. </p>
<p>We would be more than happy to talk to both new and existing businesses to see how we can partner together to take your business to the next level.</p><p>Please email <a href= "mailto:bsa@brown.edu">bsa@brown.edu</a> for more information</p>
				<p><strong>Outside Businesses:</strong></br> Your business. In Brown. BSA is always looking for new products that help enhance the lives of our students. If you would like to discuss options for providing your product or service to the Brown community, don’t hesitate to contact us at <a href= "mailto:bsa@brown.edu">bsa@brown.edu</a> or call 401-863-2226.</p>
			</div>
			<div class="image">
					<img src="http://bsa.brown.edu/imgs/faunce.jpg" alt="Faunce">
			</div>
		</div>
		<div id="tab-jobs1" class="tab-content">
			<div class="details">
				<h3>Job Opportunities</h3>
				<p>BSA is currently hiring for the following positions:</p>
				<p><strong>Assistant Director of Technology:</strong></p>
				<p>We are currently looking for an enthusiastic and talented wstudent to help lead our Technology Department. The Assistant Director of Technology will work closely with our current Director of Technology to manage the electronic aspects of our business. </p>
				<p>Please go to <a href= "https://studentemployment.brown.edu/JobXJobDetail.aspx?JobId=9373&s=1">the job posting</a> for more information regarding the application process.</p>
			  <p><strong>Other Positions</strong></p>
			<p> BSA is always interested in top talent. If you feel you have what it takes to be a part of our team, feel free to submit your application at <a href= "mailto:bsa@brown.edu">bsa@brown.edu</a> and we would be glad to consider you for any other jobs that may arise in the future.</p>
			</div>
			<div class="image">
					<img src="/_media/images/job.jpg" alt="Group" width="225">
			</div>
		</div>
		<div id="tab-ccis" class="tab-content">
			<div class="details">
				<h3>Campus Center Information</h3>
				<p>BSA is proud to support the Stephen Robert '62 Campus Center by staffing the Information Desk. Acting as a hub for students and visitors alike, our information specialists work directly with Admissions and the Student Activities Office to make sure that your Brown experience is the best it can be.</p>
			  <p>Specialist Duties Include:
				<ul>
				<li>Faunce Arch and J. Walter Wilson poster maintenance</li>
				<li>Answering questions for visitors and students</li>
				<li>Selling T-shirts and other apparel</li>
				</ul></p>
			 <p>Email <a href= "mailto:bsa@brown.edu">bsa@brown.edu</a> or call (401) 863-2226 during normal business hours for more information!</p>
			</div>
			<div class="image">
					<img src="http://news.brown.edu/files/article_images/Robert62.jpg" alt="CCIS" width="225">
			</div>
		</div>


		
	</div>
</div>