<div id="tabs">
  <%= render 'about_tabs' %>
</div>

<div id="tab_content_container">
  <div id="tab_content_title">
    <h1> Campus Center Information </h1>
  </div>

  <div id="tab_content">
    <div id="tab_content_text">
      <p>BSA is proud to support the Stephen Robert '62 Campus Center by staffing the Information Desk. Acting as a hub for students and visitors alike, our information specialists work directly with Admissions and the Student Activities Office to make sure that your Brown experience is the best it can be.</p>
			  <p>Specialist Duties Include:
				<ul>
				<li>Faunce Arch and J. Walter Wilson poster maintenance</li>
				<li>Answering questions for visitors and students</li>
				<li>Selling T-shirts and other apparel</li>
				</ul></p>
			 <p>Email <a href= "mailto:bsa@brown.edu">bsa@brown.edu</a> or call (401) 863-2226 during normal business hours for more information!</p>
    </div>
    <div id="tab_content_image">
      <%= image_tag "Robert62.jpg", :height => "150px" %>
    </div>
  </div>
  <div id="tab_navigation">
  </div>
</div>
