<div id="tabs">
  <%= render 'about_tabs' %>
</div>

<div id="tab_content_container">
  <div id="tab_content_title">
    <h1> Partner with BSA </h1>
  </div>

  <div id="tab_content">
    <div id="tab_content_text">
      <p><strong>Students:</strong></br> Think you've got a great idea but don't know how to make it happen? Let BSA help! One of our main goals is to be a resource to help support student businesses. </p>
<p>We would be more than happy to talk to both new and existing businesses to see how we can partner together to take your business to the next level.</p><p>Please email <a href= "mailto:bsa@brown.edu">bsa@brown.edu</a> for more information</p>
				<p><strong>Outside Businesses:</strong></br> Your business. In Brown. BSA is always looking for new products that help enhance the lives of our students. If you would like to discuss options for providing your product or service to the Brown community, don’t hesitate to contact us at <a href= "mailto:bsa@brown.edu">bsa@brown.edu</a> or call 401-863-2226.</p>
    </div>
    <div id="tab_content_image">
      <%= image_tag "http://www.brown.edu/Departments/Education/uep/imagesx/faunce.gif", :height => "150px" %>
    </div>
  </div>
  <div id="tab_navigation">
  </div>
</div>
