<div id="tabs">
  <%= render 'about_tabs' %>
</div>

<div id="tab_content_container">
  <div id="tab_content_title">
    <h1> Who Works for BSA? </h1>
  </div>

  <div id="tab_content">
    <div id="tab_content_text">
      <p><strong>Board of Directors:</strong></p>
			<p>Lingke Wang, '12 - Director Emeritus</p>
			<p>Michael Caron, '12 - Director Emeritus</p>

      <p><strong>Management Team:</strong></p>
      <p>
				Connor Shinn, '14 - Executive Director</br>
			<!--	Lingke Wang, '12 - Director Emeritus</br>
				Michael Caron, '12 - Director Emeritus</br>
				Alicia Chen, '12 - Director Emeritus</br>
				Kristina Fazzalaro, '12 - Director Emeritus</br> -->
				<br />
        Ethan Venitz '15 - Director of Technology and Design</br>
        <br />
				Dylan Daniels, '14 - Director of Human Resources</br>
				Joshua Bloom, '14 - Director of Operations</br>
				Jaap Ruoff, '13 - Director of Sales	</br>			
				Julia Verbrugge, '15 - Director of Marketing</br>	
				Ellen Pederson, '12.5 - Dir. of Community Affairs</br>	
				Benjamin Vishny, '14 - Special Projects</br>
				Wes Sanders, '15 - Assist. Director of Sales</br>	
				Grace Abe, '15 - Graphic Designer</br>	
        </p>
				<p><strong>Campus Center Information Specialists:</strong></p>
        <p>
				James Clemmons, '14</br>
				Lisa Berdie, '12</br>
				Cathy Chan, '12</br>
				Ana Cuellar, '13</br>
				Steven Tran, '14</br>
				Mia Zachary, '13</br>
				Andrew Chang, '13</p>

				<p><strong>Vault:</strong></p>
        <p>
          Hannah Winkler, '13</br>
          Tara Noble, '12.5</br>
          Juliana Rodriguez</p>
        </p>
    </div>
    <div id="tab_content_image">
      <%= image_tag "group.jpg", :height => "150px" %>
    </div>
  </div>
  <div id="tab_navigation">
  </div>
</div>
