<div id="tabs">
  <%= render 'about_tabs' %>
</div>

<div id="tab_content_container">
  <div id="tab_content_title">
    <h1> Job Opportunities </h1>
  </div>

  <div id="tab_content">
    <div id="tab_content_text">
      <!---<p>BSA is currently hiring for the following positions:</p>
				<p><strong>Assistant Director of Technology:</strong></p>
				<p>We are currently looking for an enthusiastic and talented wstudent to help lead our Technology Department. The Assistant Director of Technology will work closely with our current Director of Technology to manage the electronic aspects of our business. </p>
				<p>Please go to <a href= "https://studentemployment.brown.edu/JobXJobDetail.aspx?JobId=9373&s=1">the job posting</a> for more information regarding the application process.</p> -->
          
			  <p><strong>Other Positions</strong></p>
			<p> BSA is always interested in top talent. If you feel you have what it takes to be a part of our team, feel free to submit your application at <a href= "mailto:bsa@brown.edu">bsa@brown.edu</a> and we would be glad to consider you for any other jobs that may arise in the future.</p>
    </div>
    <div id="tab_content_image">
      <%= image_tag "job.jpg", :height => "150px" %>
    </div>
  </div>
  <div id="tab_navigation">
  </div>
</div>
