<!DOCTYPE html>
<html>
  <head>
  </head>
  <body style="background-color: #d6d6d6">
    <center>
      <!-- Main Table -->
      <table border="0" width="750" style="background-color: white">

        <tr>
          <td>
            <!-- Header -->
            <table border="0">
              <tr>
                <td colspan="5">
                  <%= image_tag "email_banner.png" %>
                </td>
              </tr>
              <tr>
                <td width="150" align="center">
                  <p> <a href="http://brownbsa.com/students" style="color: #777"> Student Services </a> </p>
                </td>
                <td width="150" align="center">
                  <p> <a href="http://brownbsa.com/groups" style="color: #777"> Student Groups </a> </p>
                </td>
                <td width="125" align="center">
                  <p> <a href="http://brownbsa.com/groups" style="color: #777"> Business </a> </p>
                </td>
                <td width="125" align="center">
                  <p> <a href="http://brownbsa.com/groups" style="color: #777"> Community </a> </p>
                </td>
                <td width="125" align="center">
                  <p> <a href="http://brownbsa.com/about" style="color: #777"> About </a> </p>
                </td>
              </tr>
              <tr>
                <td colspan="5">
                  <hr />
                </td>
              </tr>
            </table>
          </td>
        </tr>

        <tr>
          <td>
            <!-- Content -->
            <table border="0">

              <!-- Welcome -->
              <tr>
                <td colspan='2'>
                  <p style="padding-left: 20px; padding-right: 20px">Dear Incoming Freshman,</p>

                  <p style="padding-left: 20px; padding-right: 20px">On behalf of Brown Student Agencies, welcome to Brown! We know this is a stressful time, but
                    we’d like to offer some advice on how to make the transition into college a little easier for you and your
                    parents. BSA is an official student run organization that provides business experience to undergrads and
                    offers needed products and services to the University community. So, before you run out the door to
                    buy a mini fridge or panic about doing laundry, let us offer you some alternatives.</p>
                </td>
              </tr>

              <!-- Essential -->
              <tr>
                <td colspan='2'>
                  <h2 style="padding-left: 20px">BSA College Essentials</h2>
                  <hr style="height: 2px; background-color: red;"/>
                  <p  style="padding-left: 20px">(BSA is entirely student run, so we’re the experts on what you’ll need!)</p>
                </td>
              </tr>

              <!-- Laundry -->
              <tr>
                <td colspan='2' style="border-top: solid 1px;">
                  <h2 style="text-align: center; color: red;"> No Time for Laundry? We have got you Covered! </h2>
                </td>
              </tr>
              <tr>
                <td width="160">
                  <%= image_tag "laundry2.jpg", :width => "100px", :style => "margin-left: 15px; margin-bottom: 15px;"%>
                </td>
                <td>
                  <p style="padding-left: 20px; padding-right: 20px;"> With our professional on-campus laundry service, you won’t have to worry about fitting the
hassle of laundry into your busy schedule. Just drop off your dirty laundry in the Campus Center
and pick it up days later, professionally cleaned and folded! Read more and order today! </p>
                </td>
              </tr>

              <!-- Microfridge -->
              <tr>
                <td colspan='2'style="border-top: solid 1px;">
                  <h2 style="text-align: center; color: red;"> Keep your Drinks and Snacks Cold with a Microfridge! </h2>
                </td>
              </tr>
              <tr>
                <td>
                  <%= image_tag "fridge.png", :width => "150px", :style => "margin-left: 15px; margin-bottom: 15px;" %>
                </td>
                <td>
                  <p style="padding-left: 20px; padding-right: 20px;"> Instead of lugging a fridge to campus, have one delivered right to your dorm! Microfridges are
available for purchase or rental, are very affordable, and are a dorm essential. They come with
a microwave, a Brown-approved fridge, and a freezer—a deal you can’t beat! Read more and
order today! </p>
                </td>
              </tr>

              <!-- Linens -->
              <tr>
                <td colspan="2" style="border-top: solid 1px;">
                  <h2 style="text-align: center; color: red;"> Affordable High Quality Linens: Delivered to your Door! </h2>
                </td>
              </tr>
              <tr>
                <td>
                  <%= image_tag "linens.jpg", :width => "150px", :style => "margin-left: 15px; margin-bottom: 15px;" %>
                </td>
                <td>
                  <p style="padding-left: 20px; padding-right: 20px;">
                    Buy all of your linens within minutes online and have them delivered right to your home or
dorm! You’ll save 20% on your purchase, and you’ll have linens guaranteed to fit the Brown
mattresses and last until graduation. Order now for the best deal and colors! Read more and
order today!
                  </p>
                </td>
              </tr>

              <tr>
                <td colspan='2' style="border-top: solid 1px;">
                  <p style="color: red; margin-left: 20px; margin-right: 20px;"> These products and services are time sensitive—so be sure to order now! To view our other
products and services, such as Student Advantage card, backup software, and shipping to
Brown, please visit our website!
                </td>
              </tr>
            </table>
          </td>
        </tr>

        <tr>
          <td>
            <!-- Footer -->
            <table border="0" cellpadding="15">
              <tr>
                <td>
                  <p>
                    <hr style="height: 2px; background-color: red;"/>
                    We’re very excited to welcome you to Brown in just a few short weeks. In the
                    meantime, if you have any questions about our products or services, feel free to email us at
                    bsa@brown.edu. And, if you’re interested in business, please keep in mind that BSA is always
looking for top talent, and will be hiring this fall. Enjoy the rest of your summer!
                  </p>
                  <p>
                </td>
              </tr>
              <tr>
                <td>
                  <span style="font-size: 16px; line-height: 1.0em;">
                  <p>Sincerely,</p>
                  <p>Connor Shinn</p>
                  <p>Executive Director</p>
                  <p>Brown Student Agencies</p>
                  </span>
                  <hr style="height: 2px; background-color: red;"/>
                  <p style="text-align: center; font-size: 10px;">Brown Student Agencies | 69 Brown Street, Box 2001, Providence RI 02912</p>
                  <p style="text-align: center; font-size: 10px;"> Phone: 401.863.2226 | www.BrownBSA.com </p>
                </td>
              </tr>
            </table>
          </td>
        </tr>

      </table>
    </center>
  </body>
</html>
