<div id="tabs">
  <%= render 'business_tab' %>
</div>
  <div id="tab_content_container">
  <div id="tab_content_title">
    <h1> Your Business and Brown </h1>
  </div>
  <div id="tab_navigation">
    <ul>
      <li><%= link_to "About our Locations", biz_billboards_locations_path %> </li>
      <li><%= link_to "How it Works", biz_billboards_how_it_works_path %> </li>
      <li><%= link_to "Terms & Guidelines", biz_billboards_terms_path %> </li>
    </ul>
  </div>

  <div id="tab_content">
    <div id="tab_content_text">
      <div class="content_box">
        <h2> Advertise in High Traffic Locations </h2>
        <p>Get your message delivered to the Brown community of over 8500 students and 6000 staff & faculty members through BSA’s television billboards.</p>
				<p>With Billboards, you can easily advertise in high traffic locations at Brown University 24/7.</p>
      </div>
      <div class="content_box">
        <h2> The Attention you Deserve </h2>
				<p>Your ad will run alongside student group & departmental announcements, screening for 30 seconds per 5 minute cycle.</p>
				<p>With only three ad blocks sold per week, Billboard advertisements give your business receives the attention it deserves.</p>
        <p>
</p>
      </div>
    </div>
    <div id="tab_content_image">
      <img src="/_media/images/billboards.png" alt="BSA Billboards" height="200" width="200" />
				<a href="/_media/pdf/billboards_flyer.pdf">Our Flyer</a>
    </div>
  </div>
</div>
