<div id="tabs">
  <%= render 'business_tab' %>
</div>

<div id="tab_content_container">
  <div id="tab_content_title">
    <h1> How it Works </h1>
  </div>
  <div id="tab_navigation">
    <ul>
      <li><%= link_to "About our Locations", biz_billboards_locations_path %> </li>
      <li><%= link_to "How it Works", biz_billboards_how_it_works_path %> </li>
      <li><%= link_to "Terms & Guidelines", biz_billboards_terms_path %> </li>
    </ul>
  </div>
  <div id="tab_content">
    <div id="tab_content_text">
      <div class="content_box">
        <h2>Process</h2>
				<p>Step one: Choose how many ad blocks you would like. Each ad block runs for 30 seconds every 5 minute cycle and costs $379 per week or $999 per three weeks.</p>
				<p>Step two: Fill out the product request form and a BSA representative will contact you within 24 hours.</p>
				<p>Step three: Design and send us your slide via email or have us create it for you.</p>
				<p>Step four: See your advertisement catching the eyes of thousands of students!</p>
      </div>
    </div>
    <div id="tab_content_image">
      <img src="/_media/images/billboards.png" alt="BSA Billboards" height="200" width="200" />
				<a href="/_media/pdf/billboards_flyer.pdf">Our Flyer</a>
    </div>
  </div>

</div>
