<div class="main">
	<h2>ReachBrown</h2>
	<p>ReachBrown is BSA's advertising solution for outside businesses. We provide a channel to communicate to Brown Students allowing you to market products on campus and ultimately gain traction within the student body.</p>
	<div class="tabs">
		<ul class="tab-nav">
			<li id="ln-tab-billboards"><a href="#tab-billboards">Billboards<span><!-- --></span><em><!-- --></em></a>
				<ul>
					<li id="ln-tab-billboards-locations"><a href="#tab-billboards-locations">About our Locations</a></li>
					<li id="ln-tab-billboards-works"><a href="#tab-billboards-works">How it Works</a></li>
					<li id="ln-tab-billboards-terms"><a href="#tab-billboards-terms">Terms & Guidelines</a></li>

				</ul>
			</li>
			<li id="ln-tab-vendor-tables"><a href="#tab-vendor-tables" id="ln-tab-vendor-tables">Vendor Tables<span><!-- --></span><em><!-- --></em></a></li>
			<li id="ln-tab-ticketing"><a href="#tab-ticketing">Ticket Advertising<span><!-- --></span><em><!-- --></em></a></li>
			<li id="ln-tab-planners"><a href="#tab-planners">Student Planners<span><!-- --></span><em><!-- --></em></a></li>
			<li id="ln-tab-request"><a href="#tab-request">Product Request<span><!-- --></span><em><!-- --></em></a></li>
		</ul>
		<div id="tab-billboards" class="tab-content">
			<div class="details">
				<h3>Your Business and Brown</h3>
				<p>Get your message delivered to the Brown community of over 8500 students and 6000 staff & faculty members through BSA’s television billboards.</p>
				<p>With Billboards, you can easily advertise in high traffic locations at Brown University 24/7.</p>
				<p>Your ad will run alongside student group & departmental announcements, screening for 30 seconds per 5 minute cycle.</p>
				<p>With only three ad blocks sold per week, Billboard advertisements give your business receives the attention it deserves.</p>
			</div>
			<div class="image">
				<img src="/_media/images/billboards.png" alt="BSA Billboards" height="200" width="200" />
				<a href="/_media/pdf/billboards_flyer.pdf">Our Flyer</a>
			</div>
		</div>
		<div id="tab-billboards-locations" class="tab-content">
			<div class="details">
				<h3>Our High Traffic Locations</h3>
				<p>Billboard ads are displayed currently on four high quality LCD television screens throughout campus and Brown's cable television network.
				<ul>
					<li><u>Sharpe Refectory:</u> The main dining hall. Known as "The Ratty," it is the social center of the campus serving over 1,500 per meal.</li><br>
					<li><u>J Walter Wilson:</u> The mail services building. Every student and faculty member has a mail box in JWW. Thousands of packages and mail are picked up each week.</li><br>
					<li><u>Sciences Library:</u> The main library. Over 2,000 students visit the Sciences Library and the Friedman Cafe daily.</li><br>
					<li><u>Campus Center:</u> The Brown student center, administrative offices & cafe. Over half the student body enters the student center per day.</li><br>
					<li><u>IPTV Channel 1:</u> Brown's dorm room television service. Billboards are the first thing students see when they turn on IPTV.</li>
				</ul>
			</div>
			<div class="image">
				<img src="/_media/images/billboards.png" alt="BSA Billboards" height="200" width="200" />
				<a href="/_media/pdf/billboards_flyer.pdf">Our Flyer</a>
			</div>
		</div>
		<div id="tab-billboards-works" class="tab-content">
			<div class="details">
				<h3>How it Works</h3>
				<p>Step one: Choose how many ad blocks you would like. Each ad block runs for 30 seconds every 5 minute cycle and costs $379 per week or $999 per three weeks.</p>
				<p>Step two: Fill out the product request form and a BSA representative will contact you within 24 hours.</p>
				<p>Step three: Design and send us your slide via email or have us create it for you.</p>
				<p>Step four: See your advertisement catching the eyes of thousands of students!</p>
			</div>
			<div class="image">
				<img src="/_media/images/billboards.png" alt="BSA Billboards" height="200" width="200" />
				<a href="/_media/pdf/billboards_flyer.pdf">Our Flyer</a>
			</div>
		</div>
		<div id="tab-billboards-terms" class="tab-content">
			<div class="details">
				<h3>Terms & Guidelines</h3>
				<p>Please follow the guidelines below for designing your slide. In addition, please view the Terms on the right. BSA will require a signed copy prior to putting up your slide.</p>
				<p>Formatting Guidelines:
				<ul>
					<li>Please use the provided template</li>
					<li>Slides should have at least 32pt font</li>
					<li>No audio, video, or slide transitions</li>
				</ul>
				</p>
				<p>Content Guidelines:
				<ul>
					<li>No unauthorized, copyrighted material</li>
					<li>No graphic, violent, or sexually explicit content</li>
					<li>No profane or derogatory language</li>
					<li>No advertising of alcohol</li>
					<li>No delivery of political messages</li>
				</ul></p>
				<p>Businesses advertising services or products relating to food or beverage must be either a Brown FIRST vendor or a Brown Dining Services preferred vendor.</p>

			</div>
			<div class="image">
				<img src="/_media/images/billboards.png" alt="BSA Billboards" height="200" width="200" />
				<a href="/_media/pdf/billboards_terms.pdf">Terms</a><p></p>
				<a href="/_media/pdf/billboards_template.ppt">Template</a>

			</div>
		</div>
		<div id="tab-vendor-tables" class="tab-content">
			<div class="details">
				<h3>Vendor Tables</h3>
				<p>Looking for a physical presence on Brown’s campus? We offer businesses the opportunity to rent out a table in J. Walter Wilson, the student administrative center of campus.</p>
				<p>J. Walter Wilson is home to the mailboxes for all students and faculty where thousands of packages are picked up each week. Vendors may rent out a table in the main lobby for 3 or 6 hours during the weekday.</p>
				<p>Rates are as follows:</p>
				<p>3 Hours - $75<br>
				6 Hours - $125</p>
				<p>Please view our Terms by clicking on the "Terms" button on the right side. By purchasing a Vendor Table Program slot, vendors automatically agree to terms.</p>
				<p>Discounts are available for businesses looking to purchase multiple days or our other Business Services. Please fill out our product request form for more information or to rent a table.</p>
			</div>
			<div class="image">
				<a href="_media/pdf/vendor_terms.pdf">Terms</a><p></p>
				<a href="https://payment.brown.edu/C20460_ustores/web/store_cat.jsp?STOREID=2&CATID=185&SINGLESTORE=true">Reserve Now!</a>
			</div>
		</div>

		<div id="tab-ticketing" class="tab-content">
			<div class="details">
				<h3>Ticket Advertisements</h3>
				<p>It’s no secret that there’s a lot going on at Brown. From theater performances to dance recitals, students are always attending something. 
				<p>You can now advertise with specific events at Brown. If an event is using BSA's e-ticket Squid Scanner system, your ad can be displayed at the bottom of every ticket.</p>
				<p>If you are interested, please fill out our product request form for information and pricing.</p>
			</div>
			<div class="image">
				<img src="/_media/images/squidscanner_loading2.png" alt="" height="300" width="200" />
			</div>
		</div>
		<div id="tab-planners" class="tab-content">
			<div class="details">
				<h3>Student Planners</h3>
				<p>Each fall, BSA distributes over 4000 free planners to the undergraduate body. These planners are used on a daily basis by many students and can be an excellent way for your business to reach Brown students.</p>
				<p>We work with University Directories, LLC to provide this excellent service. Advertising spots are available throughout the entire planner and can be in color or black and white.</p>
				<p>If you are interested, please fill out our product request form for more information and pricing.</p>
			</div>
			<div class="image">
				<img src="/_media/images/student_planner_image.jpg" alt="Planners" width="200px" height="200px" />
			</div>
		</div>
		<div id="tab-request" class="tab-content">
			<div class="details">
				<h3>Request Form</h3>
				<p><iframe src="https://docs.google.com/spreadsheet/embeddedform?formkey=dDU4VmZIeXdLZVJDTUdxNGRNQm9MYUE6MQ" width="670" height="700" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe></p>
			</div>
		</div>

	</div>
</div>