<div id="tabs">
  <%= render 'business_tab' %>
</div>
  <div id="tab_content_container">
  <div id="tab_content_title">
    <h1> Our High Traffic Locations </h1>
  </div>
  <div id="tab_navigation">
    <ul>
      <li><%= link_to "About our Locations", biz_billboards_locations_path %> </li>
      <li><%= link_to "How it Works", biz_billboards_how_it_works_path %> </li>
      <li><%= link_to "Terms & Guidlines", biz_billboards_terms_path %> </li>
    </ul>
  </div>

  <div id="tab_content">
    <div id="tab_content_text">
      <div class="content_box">
        <h2> High Quality Locations </h2>
        <p>Billboard ads are displayed currently on four high quality LCD television screens throughout campus and Brown's cable television network.
				<ul>
					<li><u>Sharpe Refectory:</u> The main dining hall. Known as "The Ratty," it is the social center of the campus serving over 1,500 per meal.</li><br>
					<li><u>J Walter Wilson:</u> The mail services building. Every student and faculty member has a mail box in JWW. Thousands of packages and mail are picked up each week.</li><br>
					<li><u>Sciences Library:</u> The main library. Over 2,000 students visit the Sciences Library and the Friedman Cafe daily.</li><br>
					<li><u>Campus Center:</u> The Brown student center, administrative offices & cafe. Over half the student body enters the student center per day.</li><br>
					<li><u>IPTV Channel 1:</u> Brown's dorm room television service. Billboards are the first thing students see when they turn on IPTV.</li>
				</ul>
      </div>
    </div>
    <div id="tab_content_image">
	<img src="/_media/images/billboards.png" alt="BSA Billboards" height="200" width="200" />
				<a href="/_media/pdf/billboards_flyer.pdf">Our Flyer</a>
    </div>
  </div>
</div>
