<div id="tabs">
  <%= render 'business_tab' %>
</div>

<div id="tab_content_container">
  <div id="tab_content_title">
    <h1> Ticket Advertising </h1>
  </div>

  <div id="tab_content">
    <div id="tab_content_text">
      <div class="content_box">
        <h2> Advertise with Events </h2>
        <p>It’s no secret that there’s a lot going on at Brown. From theater performances to dance recitals, students are always attending something. 
				<p>You can now advertise with specific events at Brown. If an event is using BSA's e-ticket Squid Scanner system, your ad can be displayed at the bottom of every ticket.</p>
				<p>If you are interested, please fill out our product request form for information and pricing.</p>
      </div>
    </div>
    <div id="tab_content_image">
      <%= image_tag "squidscanner_loading2.png", :width => "200px" %>
    </div>
  </div>
  <div id="tab_navigation">
  </div>
</div>
