<div id="tabs">
  <%= render 'business_tab' %>
</div>

<div id="tab_content_container">
  <div id="tab_content_title">
    <h1> Vendor Tables </h1>
  </div>

  <div id="tab_content">
    <div id="tab_content_text">
      <div class="content_box">
        <h2> Rent a Table</h2>
        <p>Looking for a physical presence on Brown’s campus? We offer businesses the opportunity to rent out a table in J. Walter Wilson, the student administrative center of campus.</p>
				<p>J. Walter Wilson is home to the mailboxes for all students and faculty where thousands of packages are picked up each week. Vendors may rent out a table in the main lobby for 3 or 6 hours during the weekday.</p>
      </div>
      <div class="content_box">
        <h2> Rates </h2>
				<p>Rates are as follows:</p>
				<p>3 Hours - $75<br>
				6 Hours - $125</p>
				<p>Please view our Terms by clicking on the "Terms" button on the right side. By purchasing a Vendor Table Program slot, vendors automatically agree to terms.</p>
				<p>Discounts are available for businesses looking to purchase multiple days or our other Business Services. Please fill out our product request form for more information or to rent a table.</p>
      </div>
    </div>
    <div id="tab_content_image">
      <a href="_media/pdf/vendor_terms.pdf">Terms</a><p></p>
				<a href="https://payment.brown.edu/C20460_ustores/web/store_cat.jsp?STOREID=2&CATID=185&SINGLESTORE=true">Reserve Now!</a>

    </div>
  </div>
  <div id="tab_navigation">
  </div>
</div>
