<div id="tabs">
  <%= render 'info_tabs' %>
</div>

<div id="tab_content_container">
  <div id="tab_content_title">
    <h1> Announcements </h1>
  </div>

  <div id="tab_content">
    <div id="tab_content_text">
      <p><iframe src="https://docs.google.com/document/pub?id=1JguWi-x9jLNh_zVdVk9WV693nhG4VjBp6F2AvbBFNao&amp;embedded=true" width="650" height="890" frameborder="0" marginheight="0" marginwidth="0"></iframe></p> 
    </div>
    <div id="tab_content_image">
    </div>
  </div>
  <div id="tab_navigation">
  </div>
</div>
