<div id="tabs">
  <%= render 'info_tabs' %>
</div>

<div id="tab_content_container">
  <div id="tab_content_title">
    <h1> Documents </h1>
  </div>

  <div id="tab_content">
    <div id="tab_content_text">
	<p>
<ul>
	<li><a href="https://docs.google.com/a/brown.edu/spreadsheet/ccc?key=0AsLXZ5dIqf6IdHVsRWpyMzBJMkYxLS13bDdVa3Nab3c#gid=25">Inventory Spreadsheet</a></li>
	<li><a href="https://docs.google.com/a/brown.edu/spreadsheet/ccc?key=0AqEIb1kLEHv7dHFmQThCeGM1WjBBWnVmSFpXS0pHOWc#gid=2">Vendor Calendar</a></li>
	<li><a href="https://spreadsheets.google.com/a/brown.edu/ccc?key=0AuPeyh24XjPddFpVQUd5bElMSWFuUm9ycTJzTUM2TEE&hl=en#gid=0">Illegal Ads</a></li>
	<li><a href="_media/pdf/PosterInvoice.doc">Invoice Form</a></li>
	<li><a href="https://spreadsheets.google.com/a/brown.edu/viewform?formkey=dFJEZFlnZFlwUFhYYzBtQ2dFZ2EtLUE6MQ">Facilities Reporting</a></li>
</ul>
				</p>
    </div>
    <div id="tab_content_image">
    </div>
  </div>
  <div id="tab_navigation">
  </div>
</div>
