<div id= "temp">
<div class="main">
	<h2>CCIS Info Channel</h2>
	<p>This page tells you all you need to know about CCIS</p>
	<div class="tabs">
		<ul class="tab-nav">
			<li id="ln-tab-announcements"><a href="#tab-announcements">Announcements<span><!-- --></span><em><!-- --></em></a></li>
			<li id="ln-tab-checkin"><a href="#tab-checkin">Check In Form<span><!-- --></span><em><!-- --></em></a></li>
			<li id="ln-tab-bsa"><a href="#tab-bsa">BSA Services<span><!-- --></span><em><!-- --></em></a>			 
				<ul>
					<li id="ln-tab-billboards-policies"><a href="#tab-billboards-policies">Billboards</a></li>
					<li id="ln-tab-vendor-table-policies"><a href="#tab-vendor-table-policies">Vendor Tables</a></li>
					<li id="ln-tab-marketplace-policies"><a href="#tab-marketplace-policies">Marketplace</a></li>
					<li id="ln-tab-carepackages-policies"><a href="#tab-carepackages-policies">Care Packages</a></li>
					<li id="ln-tab-laundry-policies"><a href="#tab-laundry-policies">Laundry</a></li>
				</ul>
			</li>
			<li id="ln-tab-procedures"><a href="#tab-procedures">Procedures<span><!-- --></span><em><!-- --></em></a>
			  <!-- Sublinks markup is inserted as ul right below the relevant li link -->
			  <ul>
					<li id="ln-tab-task-sheet"><a href="#tab-task-sheet">Task Sheet</a></li>
					<li id="ln-tab-invoice"><a href="#tab-invoice">Illegal Ad Invoices</a></li>
					<li id="ln-tab-email-procedures"><a href="#tab-email-procedures">BSA Email</a></li>
					<li id="ln-tab-credit-card"><a href="#tab-credit-card">Credit Card Terminal</a></li>
					<li id="ln-tab-voicemail"><a href="#tab-voicemail">Voicemail</a></li>
					<li id="ln-tab-payroll"><a href="#tab-payroll">Payroll</a></li>
					<li id="ln-tab-training"><a href="#tab-training">Training Manual</a></li>
				</ul>
				<!-- the content div is treated as all the others - class tab-content and linked to in the same way -->
			</li>
			<li id="ln-tab-documents"><a href="#tab-documents">Documents<span><!-- --></span><em><!-- --></em></a>
			<li id="ln-tab-general"><a href="#tab-general">General Information<span><!-- --></span><em><!-- --></em></a>
			  <ul>
					<li id="ln-tab-bear-bucks"><a href="#tab-bear-bucks">Bear Bucks</a></li>
					<li id="ln-tab-campus-center-map"><a href="#tab-campus-center-map">Campus Center Map</a></li>
					<li id="ln-tab-bulletin-boards"><a href="#tab-bulletin-boards">Bulletin Boards</a></li>
					<li id="ln-tab-building-checklist"><a href="#tab-building-checklist">Building Checklist</a></li>
					<li id="ln-tab-pool"><a href="#tab-pool">Pool Table Policies</a></li>
				</ul>
			</li>
		</ul>
		<div id="tab-announcements" class="tab-content">
			<div class="details">
				<h3>Announcements</h3>
			<p><iframe src="https://docs.google.com/document/pub?id=1JguWi-x9jLNh_zVdVk9WV693nhG4VjBp6F2AvbBFNao&amp;embedded=true" width="650" height="1000" frameborder="0" marginheight="0" marginwidth="0"></iframe></p>
			</div>
			<div class="image">
<!--				<img src="http://www.clima-tech.com/assets/training/announcement-3ebdd0e7b4ba5978a6210af9599a8afe.JPG" alt="ccis" width="225"/>-->

			</div>
		</div>
		<div id="tab-checkin" class="tab-content">
			<div class="details">
				<h3>Check In Form</h3>
			<p><iframe src="https://docs.google.com/spreadsheet/embeddedform?formkey=dGdHdm5FN3N1bXJENlJ0VmJER0tJcWc6MQ" width="650" height="1000" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe></p>
			</div>
		</div>
		<div id="tab-bsa" class="tab-content">
			<div class="details">
				<h3>BSA Services</h3>
				<p>Click on the links at left to learn more about the specific policies around the different products and services BSA offers and the potential questions that may arise.</p>
			</div>
			<div class="image">
			</div>
		</div>
		<div id="tab-billboards-policies" class="tab-content">
			<div class="details">
				<h3>Billboards Policies</h3>
				<p><iframe src="https://docs.google.com/document/pub?id=1AZwem3d9FwtWGvOuii7PND2hBo1wX_fv9MB02HK-B0g&amp;embedded=true" width="650" height="1000" frameborder="0" marginheight="0" marginwidth="0"></iframe></p>
			</div>
			<div class="image">
			</div>
		</div>
		<div id="tab-vendor-table-policies" class="tab-content">
			<div class="details">
				<h3>Vendor Table Policies</h3>
				<p><iframe src="https://docs.google.com/document/pub?id=1aSyBE9j_kjTDc_kLLYSJqbXkQUh8MwWQ4u53etbkAvY&amp;embedded=true" width="650" height="1000" frameborder="0" marginheight="0" marginwidth="0"></iframe></p>
			</div>
			<div class="image">
			</div>
		</div>
		<div id="tab-marketplace-policies" class="tab-content">
			<div class="details">
				<h3>Marketplace Procedures</h3>
				<p><iframe src="https://docs.google.com/document/pub?id=1gyPJj_l3bKBG-Kg5ixNJ3Ih_9hHtK77ZdM2IFjNwKE0&amp;embedded=true" width="650" height="1000" frameborder="0" marginheight="0" marginwidth="0"></iframe></p>
			</div>
			<div class="image">
			</div>
		</div>
		<div id="tab-carepackages-policies" class="tab-content">
			<div class="details">
				<h3>Care Package Procedures</h3>
				<p><iframe src="https://docs.google.com/document/pub?id=1g4gG5maA8SWQXz9Abn7PafU2gS7Yka_Lq2jVaMBF3tk&amp;embedded=true" width="650" height="1000" frameborder="0" marginheight="0" marginwidth="0"></iframe></p>
			</div>
			<div class="image">
			</div>
		</div>
		<div id="tab-laundry-policies" class="tab-content">
			<div class="details">
				<h3>Laundry Procedures</h3>
				<p><iframe src="https://docs.google.com/document/pub?id=1p6YSz7x42Hg7A0o2Y6CFNqGtWDxhO1LV86j1gxsU854&amp;embedded=true" width="650" height="1000" frameborder="0" marginheight="0" marginwidth="0"></iframe></p>
			</div>
			<div class="image">
			</div>
		</div>

		<div id="tab-procedures" class="tab-content">
			<div class="details">
				<h3>Procedures</h3>
				<p>Explore the links at left for policies and procedures of other CCIS tasks.<br><br>
				</p>

			</div>
			<div class="image">
			</div>
		</div>
		<!-- Content for sublinks - notice markup is exactly the same -->
		<div id="tab-task-sheet" class="tab-content">
			<div class="details">
				<h3>CCIS Task Sheet</h3>
				<p><iframe src="https://docs.google.com/document/pub?id=1S9VHxJn6z3QpHYeDKkjw43ORn2jKgLZDwyU5GFhStK4&amp;embedded=true" width="650" height="1000" frameborder="0" marginheight="0" marginwidth="0"></iframe></p>

			</div>
			<div class="image">
			</div>
		</div>
		<div id="tab-invoice" class="tab-content">
			<div class="details">
				<h3>Illegal Ad Invoice Procedures</h3>
				<p><iframe src="https://docs.google.com/document/pub?id=18QKQhdWf5FR20eypEh9U3B51Ic7N1GvCpEuIWHIg99A&amp;embedded=true" width="650" height="1000" frameborder="0" marginheight="0" marginwidth="0"></iframe></p>
			</div>
			<div class="image">
			</div>
		</div>
		<!-- see above -->
		<div id="tab-email-procedures" class="tab-content">
			<div class="details">
				<h3>BSA Email Procedures</h3>
				<p><iframe src="https://docs.google.com/document/pub?id=1mNDgsxj6_KKW1uuHDWXJ1Ke1x2QMlifMUISYMzNqKKk&amp;embedded=true" width="650" height="1000" frameborder="0" marginheight="0" marginwidth="0"></iframe></p>
			</div>
			<div class="image">
			</div>
		</div>
		<div id="tab-credit-card" class="tab-content">
			<div class="details">
				<h3>Credit Card Terminal Instructions</h3>
				<p><iframe src="https://docs.google.com/document/pub?id=1t3d4Wpp65vfYrBekY7oR7p5mY6CRT_vlSxdOzm6uMFI&amp;embedded=true" width="650" height="1000"></iframe></p>
			</div>
			<div class="image">
			</div>
		</div>
		<div id="tab-voicemail" class="tab-content">
			<div class="details">
				<h3>Voicemail</h3>
				<p><iframe src="https://docs.google.com/document/pub?id=1h1r13IAlOo5tjezb_LZ3AibmM-H8FuYq0E-nvcWcVwE&amp;embedded=true" width="650" height="500" frameborder="0" marginheight="0" marginwidth="0"></iframe></p>
			</div>
			<div class="image">
			</div>
		</div>
		<div id="tab-payroll" class="tab-content">
			<div class="details">
				<h3>Payroll</h3>
				<p><iframe src="https://docs.google.com/document/pub?id=1c2VLfBLhXAWgR-NlxB_OUnbODwRJq0CRMslnJxwB0_o&amp;embedded=true" width="650" height="500" frameborder="0" marginheight="0" marginwidth="0"></iframe></p>
			</div>
			<div class="image">
			</div>
		</div>
		<div id="tab-training" class="tab-content">
			<div class="details">
				<h3>Training Manual</h3>
				<p><iframe src="https://docs.google.com/viewer?authuser=1&srcid=0B8LXZ5dIqf6INlRLT3VOVFdUX0t4ZFlLYVRUU1BMQQ&pid=explorer&a=v&chrome=false&embedded=true" width="650" height="1000"></iframe></p>
			</div>
			<div class="image">
			</div>
		</div>
		<div id="tab-documents" class="tab-content">
			<div class="details">
				<h3>Documents</h3>
				<p>
<ul>
					<li><a href="https://docs.google.com/a/brown.edu/spreadsheet/ccc?key=0AsLXZ5dIqf6IdHVsRWpyMzBJMkYxLS13bDdVa3Nab3c#gid=25">Inventory Spreadsheet</a></li>
					<li><a href="https://docs.google.com/a/brown.edu/spreadsheet/ccc?key=0AqEIb1kLEHv7dHFmQThCeGM1WjBBWnVmSFpXS0pHOWc#gid=2">Vendor Calendar</a></li>
					<li><a href="https://spreadsheets.google.com/a/brown.edu/ccc?key=0AuPeyh24XjPddFpVQUd5bElMSWFuUm9ycTJzTUM2TEE&hl=en#gid=0">Illegal Ads</a></li>
					<li><a href="_media/pdf/PosterInvoice.doc">Invoice Form</a></li>
					<li><a href="https://spreadsheets.google.com/a/brown.edu/viewform?formkey=dFJEZFlnZFlwUFhYYzBtQ2dFZ2EtLUE6MQ">Facilities Reporting</a></li>
</ul>
				</p>
			</div>
			<div class="image">
			</div>
		</div>
		<div id="tab-general" class="tab-content">
			<div class="details">
				<h3>General Information</h3>
				<p></p>
			</div>
			<div class="image">
			</div>
		</div>
		<div id="tab-bear-bucks" class="tab-content">
			<div class="details">
				<h3>Bear Bucks</h3>
				<p><iframe src="https://docs.google.com/document/pub?id=1K4oAAVQcqLicJ31idYDmkkWYX02ZQ8Cd8ZFsah55-Cs&amp;embedded=true" width="650" height="1000" frameborder="0" marginheight="0" marginwidth="0"></iframe></p>
			</div>
					</div>
		<div id="tab-campus-center-map" class="tab-content">
			<div class="details">
				<h3>University Maps</h3>
				<p>Additional maps can be found at <a href="http://brown.edu/Facilities/Facilities_Management/services/map_download.php">this link</a>.</p>
				<p><iframe width="650" height="650" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/?ie=UTF8&amp;ll=41.82494,-71.400114&amp;spn=0.006684,0.016512&amp;t=m&amp;z=17&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/?ie=UTF8&amp;ll=41.82494,-71.400114&amp;spn=0.006684,0.016512&amp;t=m&amp;z=17&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small></p>
			</div>
			<div class="image">
			</div>
		</div>
		<div id="tab-bulletin-boards" class="tab-content">
			<div class="details">
				<h3>Glass Bulletin Boards</h3>
				<p><iframe src="https://docs.google.com/document/pub?id=1s2fiqnVo3CRs75cZn2gnaFLostA7C5hy6V77z4UisG8&amp;embedded=true" width="650" height="1000" frameborder="0" marginheight="0" marginwidth="0"></iframe></p>

			</div>
			<div class="image">
			</div>
		</div>
		<div id="tab-building-checklist" class="tab-content">
			<div class="details">
				<h3>Building Checklist</h3>
				<p><iframe src="https://docs.google.com/document/pub?id=1qBgJgwOfg_6oZsFt-tI8aTMm2DiRwMWG-uyU0j-6bxI&amp;embedded=true" width="650" height="1000" frameborder="0" marginheight="0" marginwidth="0"></iframe></p>
			</div>
			<div class="image">
			</div>
		</div>
		<div id="tab-pool" class="tab-content">
			<div class="details">
				<h3>Pool Table Policies</h3>
				<p><iframe src="https://docs.google.com/document/pub?id=1cVOpzZ229DvgsDwCIF0MoWuCoiOFypDmeM2tfkNywAQ&amp;embedded=true" width="650" height="700" frameborder="0" marginheight="0" marginwidth="0"></iframe></p>
			</div>
			<div class="image">
			</div>
		</div>
	</div>
</div>
</div>
