<footer>
  <p>Copyright 2012 Brown Student Agencies 69 Brown Street, Box 2001, Providence RI 02912 (401) 863 - 2226</p>
  <div id="footer_logo">
  <p> <%= link_to "Brown University", "http://www.brown.edu" %> </p>
    <%= link_to image_tag("brown_logo.png"), "http://www.brown.edu" %>
  </div>
</footer>
